/*Menu icon*/
#favorite_menu_icon, .favorite_menu_icon{background-image:url(icons/slam.favorite/slam.favorite.png)!important; background-position: 50% 50%;}
#favorite_page_icon {background-image:url(icons/slam.favorite/slam.favorite.png);}