body.mob-filter-open {
    overflow: hidden;
    position: relative;
}
body.mob-filter-open:after {
    content: '';
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: #0006;
}
.row_catalog {
    flex-wrap: nowrap;
}
.catalog__right {
    padding: 0 10px;
}
.catalog__banner {
    background-color: #f8f9fd;
    border: 1px solid #d4e2e6;
}
.catalog__banner-title {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 37px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 20px;
}
.catalog__banner-title span {
    color: #9c4115;
}
a.catalog__banner-detail {
    font-size: 14px;
    height: 36px;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #35cc62;
    padding: 5px 15px;
    text-decoration: none;
    color: #35cc62;
}
.catalog__banner-content {
    padding: 30px;
}
.catalog__banner-picture {
    width: 100%;
}
.catalog__left {
    min-width: 260px;
    width: 260px;
    padding: 10px 10px 0;
}

.product__params {
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px;
}
.product__sort,
.product__page {
    font-size: 16px;
    line-height: 36px;
    color: #8facbd;
}
.product__sort a {
    margin-left: 10px;
    color: #8facbd;
}
.product__changes {
    display: -ms-flexbox;
    display: flex;
    margin: -5px;
}
.product__change {
    padding: 5px;
}
a.product__change-link {
    font-size: 14px;
    color: #333333;
    height: 36px;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #d4e2e6;
    padding: 7px 15px 7px 30px;
    display: block;
    position: relative;
    text-decoration: none;
}
.product__change-link::before {
    content: "\f00d";
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    position: absolute;
    top: 7px;
    left: 12px;
}
.product__filter {
    width: 100%;
}
.filter__hide {
    position: absolute;
    top: 0;
    font-size: 30px;
    right: -40px;
    color: #9c4115;
    text-shadow: 0 0 10px #000000;
}
.bx-filter .bx-filter-section {
    padding-top: 48px;
}

@media (min-width: 993px) {
    .catalog__left + .catalog__right {
        width: calc(100% - 260px);
    }
    .product__filter-btn,
    .mobile-filter-title,
    .close-mobile-filter{
        display: none;
    }
}


@media (max-width: 992px) {

    .row_catalog {
        flex-wrap: wrap;
    }
    .catalog__left {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000000;
        width: 100vw;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform .3s;
        background: #F9F9F9;
    }
    .catalog__left.active {
        transform: translateX(0);
    }
    .bx-filter.bx-custom {
        position: relative;
        width: 100%;

        padding: 0;

    }
    .bx-filter .bx-filter-section {
        height: 100%;
        padding-top: 0;
        max-height: 100vh;
        margin: 0 15px;
    }
    .bx-filter .bx-filter-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #d4e2e6;
    }
    .bx-filter .bx-filter-title {
        display: none;
    }
    .bx-filter.bx-custom .smartfilter {
        overflow: auto;
        max-height: calc(100vh - 75px);
        padding: 0 15px 30px;
    }
    .bx-filter.bx-custom .bx-filter-button-box {
        width: 100%;
        height: 60px;
    }
    .bx-filter.bx-custom .bx-filter-button-box .bx-filter-block {
        position: fixed;
        height: 90px;
        width: 100vw;
        left: 0;
        bottom: 0;
        background: #F9F9F9;
        box-shadow: 0 0 12px 1px rgba(0,0,0, 0.2);
    }

    .bx-filter.bx-custom .btn.btn-themes {
        width: 45%;
        border: 1px solid #9c4115;
        /*border-radius: .25rem;*/
        padding: 10px;
        background: #9C4115;
        font-size: 20px;
        color: #ffffff;
    }
    .bx-filter.bx-custom .btn.btn-link{
        width: 45%;
        border: 1px solid #C5CED6;
        /*border-radius: .25rem;*/
        padding: 10px;
        background: #C5CED6;
        font-size: 20px;
        color: #000000;
    }
    .bx-custom .smartfilter .bx-filter-parameters-box {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #d4e2e6;
    }
    .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box .bx-filter-parameters-box-title {
        border-bottom: none !important;
        font-size: 20px;
        background: transparent;
        padding: 7px 0 10px;
    }
    .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box .bx-filter-parameters-box-title span {
        font-size: 22px;
        justify-content: space-between;
        font-weight: bold;
    }
    .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box .bx-filter-block i.bx-ft-sub {
        font-size: 18px;
    }
    .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box-container {
        padding-top: 20px;
    }
    .bx-filter.bx-custom .bx-filter-parameters-box-title span {
        font-size: 18px;
        padding: 12px 7px;
    }
    .bx-filter.bx-custom .bx-filter-input-checkbox .bx-filter-param-text {
        font-size: 18px;
    }
    .bx-filter.bx-custom .bx-filter-parameters-box-container .checkbox + .checkbox {
        margin: 18px 0;
    }
    .bx-filter.bx-custom .bx-filter-input-checkbox input[type="checkbox"]:before {
        width: 25px;
        height: 25px;

    }
    .bx-filter.bx-custom .bx-filter-input-checkbox input:checked:after {
        width: 25px;
        height: 25px;
        font-size: 18px;
    }

    .bx-filter.bx-custom .bx-ui-slider-part span {
        font-size: 18px;
        top: -21px;
    }
    .bx-filter.bx-custom .bx-ui-slider-part.p5 span {
        font-size: 18px;
        top: -21px;
        margin-left: -84px;
    }
    .bx-filter.bx-custom .bx-ui-slider-track {
        width: calc(100% - 8px);
    }

    .catalog__right {
        width: 100%;
        margin-top: 30px;
    }

    .product__changes {
        flex-wrap: wrap;
    }
    .product__filter-btn {
        width: 40px;
        height: 40px;
    }
    .mobile-filter-title {
        font-weight: 600;
        font-size: 28px;
        margin: 15px 0;
        flex-grow: 1;
    }
    .close-mobile-filter {
        font-weight: normal;
        font-size: 20px;
    }
    .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box .checkbox:nth-child(n+8) {
        display: none !important;
    }
    .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box .bx-filter-block {
        max-height: 100%;
        height: auto !important;
    }
    .catalog-menu__link {
        font-size: 20px;
        line-height: 1;
        color: #9C4115;
        text-decoration: underline;
        margin-bottom: 20px;
    }
    .catalog-menu__link .link-hide {
        display: none;
    }
    .catalog-menu__link.active .link-show{
        display: none;
    }
    .catalog-menu__link.active .link-hide{
        display: block;
    }
    .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box.bx-active .checkbox:nth-child(n+8) {
        display: flex !important;
    }
    .bx-filter.bx-custom .smartfilter .bx-filter-button-box .bx-filter-block .bx-filter-parameters-box-container {
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .bx-filter.bx-custom .smartfilter .range-inner-filter {
        flex-direction: row;
    }




}
@media (max-width: 575px) {
    .product__sort, .product__page {
        font-size: 20px;
        line-height: 1;
    }
    .bx-filter.bx-custom .smartfilter .bx-filter-input-checkbox .bx-filter-param-text {
        font-size: 22px;
    }
    .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box-container .checkbox:first-child,
    .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box-container .checkbox + .checkbox {
        margin-bottom: 17px;
    }






}