	<link type="text/css" media="screen" rel="stylesheet" href="/jquery/fancybox/jquery.fancybox-1.3.4.css" />
	<script type="text/javascript" src="/jquery/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){	
			$("a[rel=ex_group]").fancybox({
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic'
			});
		});	
	</script>
