	<link href="/jquery/orbit/orbit.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="/jquery/jquery.orbit.min.js"></script>
	<script type="text/javascript">
		$(window).load(function() {
			$('#featured2').orbit({
				'bullets': true,
				'timer' : true,
				'animation' : 'horizontal-slide'
			});
		});
	</script>