html body main > .product-detail{
    position: relative;
    padding-top: 50px;
    margin: 0;
    background: #fff;
}

html body .bx_catalog_item_articul{
    height: 50px;
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    background: #31b0d5;
    color: #fff;
    text-align: center;
    margin: 0;
}

html body main > .product-detail .product-image{
    padding: 0;
    border: none;
    border-radius: 0;
    margin: 0 auto;
}

html body main > .product-detail .product-info{
    border-top: 1px solid #e8e8e8;
    padding: 24px 15px 0 15px;
}

html body main > .product-detail .product-info .in-stock-label{
    font-size: 14px;
    color: #a3a9ad;
    display: block;
    margin-bottom: 19px;
}

html body main > .product-detail .product-info .in-stock-label #in-stock-label{
    color: #383838;
    margin-left: 12px;
}

html body main > .product-detail .product-info .in-stock-label span:after {
    content: "";
    display: inline-block;
    background: #86b817;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 10px;
}

html body main > .product-detail .product-info .preview.text{
    font-size: 12px;
    padding: 10px 0;
}

html body main > .product-detail .product-info .preview.text,
html body main > .product-detail .product-info .preview.text p{
    text-align: justify;
}

html body main > .product-detail .product-info .in-stock-label span.out-of-stock:after{
    background: #cbcbcb;
}

html body main > .product-detail dl.properties,
html body main > .product-detail dl.properties dd,
html body main > .product-detail dl.properties dt{
    padding: 0;
    margin: 0
}

html body main > .product-detail dl.properties dt{
    font-weight: bold;
}

html body .search-amp-form{
    /* display: none; */
}

html body main > .product-detail .product-info .item_price{
    padding: 0;
    margin: 35px -15px 0 -15px;
    border: none;
    position: relative;
    /* background: #15aad2; */
}

html body main > .product-detail .product-info .item_price.not-buy{
    /* background: #d9534f; */
}

html body main > .product-detail .detail-tabs{
    margin-top: 25px;
}

html body main > .product-detail .product-info .item_price div.item-price,
html body main > .product-detail .product-info .item_price div.buy-buttons{
}

html body main > .product-detail .product-info .item_price div.buy-buttons{

}

html body main > .product-detail .product-info .item_price div.buy-buttons .filters-wrapper{
    text-align: center;
}

html body main > .product-detail .product-info .item_price div.buy-buttons .filters-wrapper .btn.btn-block{
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
    float: none;
    margin: 20px auto;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    padding: 6px 12px;
    font-weight: normal;
    border-radius: 3px;
    height: auto;
    display: inline-block;
    min-width: 124px;
}

html body main > .product-detail .item_price div.item-price{
    display: block;
    width: 100%;
    float: none;
    clear: both;
    text-align: center;
    font-size: 20px;
    line-height: 47px;
}

html body main > .product-detail .product-info .item_price .btn.btn-block.btn-large.btn-preorder,
html body main > .product-detail .product-info .item_price .btn.btn-block.btn-large.btn-buy{

}

html body .bx_catalog_item_articul > p > strong{
    display: none;
}

html body .bx_catalog_item_articul > p{
    font-size: 17px;
    text-transform: uppercase;
    margin: 0;
    line-height: 50px;
}

html body .bx_catalog_item_articul > a{
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    line-height: 50px;
    text-align: left;
    padding-left: 26px;
    font-size: 17px;
}

html body .bx_catalog_item_articul > a:hover{
    text-decoration: underline;
}

html body .bx_catalog_item_articul > a:before {
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    left: 11px;
    border-color: #fff;
    content: '';
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    bottom: 0;
    z-index: 6;
}

.suitable-models{
    display: flex;
    flex-wrap: wrap;
}

.suitable-models a{
    width: 100%;
    margin-bottom: 10px;
    display: block;
}

.reviews-navigation-box{
    margin: 10px 0 20px 0;
}

.reviews-navigation-box.reviews-navigation-bottom{
    margin: 20px 0 5px 0;
}

.reviews-block-container{
    border-top: 1px solid #dadada;
}

.reviews-block-inner > div{
    border-bottom: 1px solid #dadada;
    padding: 10px 0;
}

.reviews-block-inner .mess-author-info{
    display: flex;
    align-items: center;
    align-self: center;
}

.reviews-block-inner .mess-author-info > div.review-avatar{
    width: 30px;
    margin-right: 10px;
}

.reviews-block-inner .mess-author-info > div.review-avatar + div{
    width: calc(100% - 40px);

}

.product-detail .detail-tabs .tab-content div.review-avatar amp-img{
    margin: 0;
}

.reviews-reply-form{
    margin-top: 15px;
}

.reviews-reply-form .reviews-reply-rating input{
    display: none;
}

.reviews-reply-form .reviews-reply-rating label.fa.star{
    padding: 0 4px 0 0;
}

.reviews-reply-form .reviews-reply-rating label.fa.star,
.reviews-reply-form .reviews-reply-rating label.fa.star:before{
    cursor: pointer;
    font-size: 14px;
    display: block;
}

.reviews-reply-form .reviews-reply-rating{
    width: 85px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

.reviews-reply-form .reviews-reply-rating input:checked ~ label.fa.star:before{
    content: "\f005";
}

.reviews-reply-form input[name="REVIEW_AUTHOR"],
.reviews-reply-form textarea[name="REVIEW_TEXT"]{
    max-width: 100%;
    border-radius: 3px;
    padding: 7px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    outline: none;
    box-shadow: none;
}

.reviews-reply-form textarea[name="REVIEW_TEXT"]{
    width: 100%;
    margin-right: 15px;
    min-height: 200px;
}

.reviews-reply-form .reviews-reply-header,
.reviews-reply-form .reviews-reply-field{
    font-weight: bold;
    margin-bottom: 10px;
}

.reviews-reply-form .reviews-reply-buttons .btn.btn-info{
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    padding: 6px 12px;
    font-weight: normal;
    border-radius: 3px;
    height: auto;
    display: inline-block;
    min-width: 124px;
    border: none;
    cursor: pointer;
    box-shadow: none;
    outline: none;
}

.reviews-note-note,
.reviews-note-error{
    border-radius: 4px;
    padding: 8px;
    background-color: #d9534f;
    border: 1px solid #d9534f;
    color: #fff;
    margin: 10px 0;
    white-space: normal;
}

.reviews-note-note{
    background-color: #d6e9c6;
    border: 1px solid #d6e9c6;
    color: #3c763d;
}

.reviews-post-hidden{
    display: none;
}

.reviews-note-error p{
    margin: 0;
}

li.cover {
    position: relative;
    width: 40px;
    height: 60px;
}

li.cover amp-img.fill img {
    object-fit: fill;
}


li.product-item-scu-item-color-container{
    display: inline-block;
    padding: 0;
    position: relative;
    font-size: 0;
}


.product-detail .items-center ul li,
.product-info .items-center ul li {
    cursor: pointer;
}

.product-detail .product-info dl.offer-properties,
.product-detail .product-info dl.offer-properties dd,
.product-detail .product-info dl.offer-properties dt{
    padding: 0;
    margin: 0
}

.product-detail .product-info dl.offer-properties,
.product-detail .product-info dl.offer-properties dd,
.product-detail .product-info dl.offer-properties dt{
    padding: 0;
    margin: 0;
}

.product-detail .product-info dl.offer-properties dd{
    margin-bottom: 15px;
}

.product-detail .product-info dl.offer-properties dt{
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
}

@media screen and (max-width: 767px) {
    .new-product-title{
        padding-top: 0;
        text-align: center;
    }

}

@media screen and (max-width: 768px) and (orientation: landscape){
    .product-detail .product-info dl.offer-properties {
        padding: 10px 0 5px 0;
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        float: none;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .product-detail .product-info dl.offer-properties dt{
        font-weight: normal;
        width: 50%;
        position: relative;
        border: none;
        padding: 0;
        margin: 0;
    }

    .product-detail .product-info dl.offer-properties dt span{
        background: #fff;
        padding-right: 5px;
        position: relative;
        z-index: 2;
        font-weight: bold;
    }

    .product-detail .product-info dl.offer-properties dt:after{
        width: 100%;
        content: "";
        position: absolute;
        bottom: 7px;
        left: 0;
        right: 0;
        border-top: 1px dotted #ccc;
    }

    .product-detail .product-info dl.offer-properties dd{
        float: left;
        margin: 0 5px;
        width: calc(50% - 10px);
    }
}

@media screen and (min-width: 768px) {
    .product-detail .product-info dl.offer-properties {
        padding: 10px 0 5px 0;
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        float: none;
        flex-wrap: wrap;
        margin-bottom: 45px;
    }

    .product-detail .product-info dl.offer-properties dt{
        font-weight: normal;
        width: 50%;
        position: relative;
        border: none;
        padding: 0;
        margin: 0;
    }

    .product-detail .product-info dl.offer-properties dt span{
        background: #fff;
        padding-right: 5px;
        position: relative;
        z-index: 2;
        font-weight: bold;
    }

    .product-detail .product-info dl.offer-properties dt:after{
        width: 100%;
        content: "";
        position: absolute;
        bottom: 7px;
        left: 0;
        right: 0;
        border-top: 1px dotted #ccc;
    }

    .product-detail .product-info dl.offer-properties dd{
        float: left;
        margin: 0 5px;
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 767px) and (orientation: portrait){

    html body .bx_catalog_item_articul{
        text-align: right;
        padding-right: 15px;
    }
}

@media screen and (min-width: 992px){


    .reviews-reply-form textarea[name="REVIEW_TEXT"] {
        width: calc(100% - 10px);
    }

    html body main > .product-detail dl.properties{
        padding: 10px 0 5px 0;
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        float: none;
        flex-wrap: wrap;
    }

    html body main > .product-detail dl.properties dt{
        font-weight: normal;
        width: 50%;
        position: relative;
    }

    html body main > .product-detail dl.properties dt span{
        background: #fff;
        padding-right: 5px;
        position: relative;
        z-index: 2;
    }

    html body main > .product-detail dl.properties dt:after{
        width: 100%;
        content: "";
        position: absolute;
        bottom: 7px;
        left: 0;
        right: 0;
        border-top: 1px dotted #ccc;
    }

    html body main > .product-detail dl.properties dd{
        float: left;
        margin: 0 5px;
        width: 50%;
        width: calc(50% - 10px);
    }

    .suitable-models a{
        width: 33.3333%;
    }

    html body .product-detail .product-image{
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none;
    }

    html body .product-detail .products-detail > h1,
    html body .product-detail .products-detail > .props{
        text-align: center;
    }

}

@media screen and (min-width: 1280px){
    .suitable-models a{
        width: 25%;
    }
}

@media screen and (min-width: 1440px){
    .suitable-models a{
        width: 16.666%;
    }
}

