body{
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42;
    color: #333;
}

body,
html{
    padding: 0;
    margin: 0;
}

p{
    margin: 0 0 15px 0;
    padding: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active{
    color: #333;
    text-decoration: none;
}

*:active,
*:focus{
    box-shadow: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
}

a,
a:link,
a:hover,
a:visited,
a:active,
a:focus,
img,
img:link,
img:hover,
img:visited,
img:active,
img:focus,
.amp-carousel-button{
    outline: 0 none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.lightbox {
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.new-product-title {
    font-size: 28px;
    margin: 10px 0;
    padding: 0 15px;
}

.logo-image-area{
    text-align: center;
}

.logo-image-area amp-img{
    margin: 15px auto;
    display: inline-block;
    width: 170px;
}

div.logotype{
    background: #fff;
    padding: 0 15px;
}

.phone-area{
    text-align: center;
}

.phone-area .phone{
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 15px 0;
    line-height: 1;
    padding: 0;
}

main{
    padding: 0 15px;
    overflow: hidden;
    display: block;
}

.cart-icon,
.menu-button{
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: auto;
    position: absolute;
    left: 15px;
    top: 10px;
    z-index: 2;
    outline: none;
    padding: 0;
}

.cart-icon{
    width: 52px;
    height: 52px;
}

.cart-icon > a{
    text-decoration: none;
}

.cart-icon .cart-img{
    position: absolute;
    left: 0;
    top: 5px;
    z-index: 5;
    width: 36px;
    height: 36px;
}

.cart-icon span{
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    width: 24px;
    height: 24px;
    display: block;
    border: 1px solid #1BA1E2;
    position: absolute;
    right: 5px;
    top: -5px;
    z-index: 10;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    color: #1BA1E2;
    background: #fff;
}

.cart-icon .fa.fa-opencart,
.menu-button .fa.fa-bars{
    color: #363636;
    font-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: auto;
}


.cart-icon{
    left: auto;
    right: 15px;
    padding-top: 5px;
}

.product-detail{
    margin-top: 30px;
}

.product-detail .product-image{
    border: 1px solid #EEE;
    border-radius: 4px;
    min-height: 160px;
    padding: 4px;
    margin: 0 0 30px 0;
}

.product-detail #title-page{
    margin: 0 0 30px 0;
    padding: 0 0 0 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.product-detail .props .title{
    font-weight: bold;
    font-size: 13px;
}

.product-detail .props.sku-value .title{
    color: #a5a5a5;
}

.product-detail .props.sku-value .value{
    background: #86b817;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    line-height: 1;
    vertical-align: middle;
    padding: 5px 4px 3px 4px;
}

.product-detail .item_price{
    border: 1px solid #EEE;
    background: #fff;
    padding: 40px 0 30px 0;
    text-align: center;
    overflow: hidden;
    margin: 30px 0;
}

.product-detail .item_price .item-price{
    margin-bottom: 20px;
    text-align: center;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    color: #333;
    line-height: 30px;
}
.product-detail .item_price .btn.btn-block{
    display: inline-block;
    height: 47px;
    line-height: 47px;
    background: #15aad2;
    color: #fff;
    border: none;
    outline: none;
    padding: 0 36px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    border-radius: 0;
    text-align: center;
    margin-bottom: 16px;
    text-decoration: none;
}


.product-detail .detail-tabs{
    margin-bottom: 30px;
}

.product-detail .detail-tabs section > h4{
    padding: 10px 16px;
    font-size: 16px;
    color: #303030;
    text-decoration: none;
    line-height: 1;
    border: 1px solid #d0d0d0;
    border-bottom: none;
    background: #d0d0d0;
    display: block;
    width: 100%;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom-color: #eee;
    text-align: center;
}

.product-detail .detail-tabs section .tab-content{
    border: 1px solid #ddd;
    border-top: none;
    margin-top: 1px;
    padding: 10px;
    background: #fff;
}

.product-detail .detail-tabs .tab-content amp-img{
    width: 100%;
    margin-bottom: 15px;
}

.side-menu{
    min-width: 320px;
}

.side-menu ul{
    overflow: auto;
    height: 100%;
    display: block;
    padding: 5px;
    flex-wrap: wrap;
}

.side-menu ul li{
    margin-bottom: 10px;
    width: 100%;
    display: block;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.side-menu > .side-menu-description,
.side-menu ul li span,
.side-menu ul li a{
    text-decoration: none;
    color: #4c4c4c;
    font-size: 16px;
}

.side-menu ul li span{
    display: flex;
    align-items: center;
    position: relative;
}

.side-menu ul li #mobilemenucart{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    background: #86b817;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 5px;
}

.side-menu > .side-menu-description{
    margin: 20px 15px 0 15px;
}

.side-menu amp-img{
    margin-right: 10px;
}

.side-menu > .side-menu-description p{
    margin: 0;
}

#sidebar .cross {
    top: 5px;
    right: 5px;
    cursor: pointer;
    position: absolute;
}

#sidebar .cross .fa-times{
    color: #000a15;
    font-size: 23px;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: auto;
}

.hidden{
    display: none;
    visibility: hidden;
}

.search-amp-form{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    display: block;
    position: relative;
    background: #fff;
}

.search-amp-form > div{
    position: relative;
    width: calc(100% - 30px);
    margin: 0 15px;
}

.search-amp-form input,
.search-amp-form button{
    display: inline-block;
    font-size: 14px;
    outline: none;
}

.search-amp-form input[type="text"]{
    background: #fff;
    border: 1px solid #e5e5e5;
    color: #363636;
    font-size: 16px;
    font-weight: normal;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 41px;
    border-radius: 2px;
    box-shadow: none;
    width: calc(100% - 41px);
    display: block;
    -webkit-transition: all ease-in-out .15s;
    -o-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
}

.search-amp-form input[type="text"]:focus{
    background: #e5e5e5;
    -webkit-transition: all ease-in-out .15s;
    -o-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
}

.search-amp-form button{
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    bottom: 0;
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding-left: 15px;
}

.search-amp-form button i{
    color: #363636;
    font-size: 14px;
    float: right;
    margin-right: 3px;
}

.nothing-found.text-center{
    text-align: center;
    margin: 30px 0;
}

.breadcrumb-navigation-main{
    display: block;
    text-align: center;
    font-size: 0;
    margin: 0 0 30px 0;
    padding: 0;
}

.breadcrumb-navigation-main li{
    display: inline-block;
    font-size: 14px;
    padding: 0 15px 0 0;
    list-style: none;
    margin: 0;
}

.breadcrumb-navigation-main li a{
    text-decoration: underline;
    color: #2db9dd;
}

#sidebar{
    background: #fff;
    color: #4c4c4c;
}

#sidebar .fa.fa-times{
    color: #4c4c4c;
    outline: none;
    font-weight: 100;
}

.side-menu ul{
    margin: 0;
    padding: 0;
}

.side-menu ul li{
    margin: 0;
    padding: 0 15px;
}

.side-menu .menu-description{
    margin: 20px 0;
    font-size: 16px;
}

.side-menu .menu-description p{
    margin: 0;
}

.side-menu p,
.side-menu ul li,
.side-menu ul li a{
    color: #4c4c4c;
}

.side-menu ul li{
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #f0f0f0;
}

.side-menu ul li > span,
.side-menu ul li > a{
    padding: 8px 5px 10px 5px;
    display: block;
    width: calc(100% - 10px);
    -webkit-transition: all ease-in-out .15s;
    -o-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
}

.side-menu ul li > span:hover,
.side-menu ul li > a:hover{
    background-color: rgba(0, 0, 0, 0.03);
    -webkit-transition: all ease-in-out .15s;
    -o-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
}

.side-menu ul{
    padding: 0 15px 20px 15px;
}

.text-bottom{
    margin: 20px 0;
    padding: 20px;
    z-index: 9;
    background: #fff;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: justify;
    position: relative;
}

.text-bottom h1{
    font-size: 17px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

footer{
    background: #fff;
    position: relative;
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
}

footer > div{
    width: 100%;
    box-sizing: border-box;
    padding: 25px 15px;
    text-align: center;
}

footer .module-title span.h3{
    color: #000000;
    text-decoration: underline;
    font-weight: bold;
}

footer .simple-menu{
    margin: 0;
    padding: 30px 0;
    display: block;
}

footer .simple-menu li{
    line-height: 25px;
    padding: 0;
    margin: 0;
    display: block;
}

footer .simple-menu li a:hover{
    color: #1ba1e6;
}

footer .create-and-promotion a{
    color: #1ba1e6;
}

footer .img-area{
    margin-top: 10px;
}

footer .about-us-social .h3{
    display: block;
    margin-bottom: 10px;
}

footer ul.social-icons li,
footer ul.social-icons{
    display: block;
    margin: 0;
    padding: 0;
    font-size: 0;
}

footer ul.social-icons li {
    display: inline-block;
    font-size: 26px;
    margin: 0 2px;
}

footer ul.social-icons li a{
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    border: 1px solid #31b0d5;
    color: #31b0d5;
    text-decoration: none;
    -webkit-transition: all ease-in-out .15s;
    -o-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
}

footer ul.social-icons li a:hover{
    border-color: #000;
    color: #000;
    border-radius: 50%;
    -webkit-transition: all ease-in-out .15s;
    -o-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
}

.bx-filter{
    background: #fff;
}

.bx-filter a{
    display: block;
    width: 100%;
    padding: 5px 0 0 0;
    text-decoration: underline;
    cursor: pointer;
}

.bx-filter a.checked{
    font-weight: bold;
}

.bx-filter .tab-content{
    padding: 0 15px 5px 15px;
}

.bx-filter .bx-filter-title{
    display: none;
}

.bx-filter h4{
    padding: 5px 15px;
    margin: 0;
    width: calc(100% - 30px);
}

.modal-preorder.bx-filter{
    border-radius: 6px;
    max-width: 600px;
    padding: 0;
}

.modal-preorder.bx-filter .modal-title{
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
    margin: 0;
    display: block;
}

.modal-preorder.bx-filter .filters-wrapper .button-close-filters{
    top: 22px;
    right: 15px;
}

.modal-preorder.bx-filter .filters-wrapper .btn.btn-block.btn-large{
    width: 66%;
    margin: 20px auto;
    float: none;
    clear: both;
    cursor: pointer;
}

.modal-preorder.bx-filter .result.result-error,
.modal-preorder.bx-filter .result.result-success{
    border-radius: 4px;
    padding: 15px 15px;
    background-color: #d6e9c6;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    margin: 20px 15px 0 15px;
}

.modal-preorder.bx-filter .result.result-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.modal-preorder.bx-filter .filters-wrapper .consent-processing{
    float: none;
    clear: both;
    width: 100%;
}

.modal-preorder.bx-filter .filters-wrapper{
    margin-top: 0;
    padding: 0;
}

.modal-preorder.bx-filter .filters-wrapper input[type="email"],
.modal-preorder.bx-filter .filters-wrapper input[type="text"]{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-sizing: border-box;
    width: calc(100% - 80px);
}

.modal-preorder.bx-filter .filters-wrapper .form-group{
    display: flex;
    align-items: center;
    width: calc(100% - 30px);
    margin: 20px 15px 0 15px;
}

.modal-preorder.bx-filter .filters-wrapper .form-group .input-group-addon{
    width: 40px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 0;
    background: #eee;
}

.modal-preorder.bx-filter .filters-wrapper .form-group .input-group-addon:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
}

.modal-preorder.bx-filter .filters-wrapper .form-group .input-group-addon:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
}

.filters-wrapper button.button-open-filters{
    border: none;
    outline: 0;
    background: none;
    text-align: left;
    display: block;
    cursor: pointer;
    line-height: 40px;
    padding: 0 15px;
    font-size: 14px;
    color: #fff;
    background-color: #383838;
    width: 100%;
}

.filters-wrapper button.button-open-filters:after{
    content: "\f0ae";
    font: normal normal normal 16px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    position: absolute;
    top: 12px;
    right: 17px;
}

#filter div.bx-filter{
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
}

.filters-wrapper .button-close-filters{
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 5;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    text-align: center;
}

.nothing-found.text-center{
    font-size: 18px;
    color: #ff2d55;
}

.sub-gallery ul,
.sub-gallery ul li,
.sub-gallery{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.product-detail .items-center ul li,
.product-info .items-center ul li,
.sub-gallery li{
    display: inline-block;
    float: none;
    margin: 5px;
}

.product-detail .items-center label,
.product-info .items-center label{
    font-weight: bold;
}

.product-detail .items-center ul li[aria-selected="true"],
.product-info .items-center ul li[aria-selected="true"]{
    border-color: #006cc0;
}

.product-detail .items-center ul,
.product-info .items-center ul{
    margin: 0;
    padding: 0;
}

.product-detail .items-center ul li,
.product-info .items-center ul li{
    padding: 3px 4px;
    border: 1px solid #eee;
}

.has-error{
    color: #721c24;
    background-color: #f8d7da;
    position: relative;
    padding: 8px 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    display: block;
    width: calc(100% - 24px);
    float: none;
    clear: both;
}

@media screen and (max-width: 767px) {

    .bx-filter{
        padding: 0 15px;
        width: calc(95% - 30px);
        margin-top: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){

    .bx-filter{
        padding: 0 15px;
        width: calc(95% - 30px);
        margin-top: 15px;
    }
}

@media screen and (min-width: 992px){

    .bx-filter{
        padding: 0 15px;
        width: 80%;
        margin-top: 15px;
    }

}


@media screen and (max-width: 767px) and (orientation: landscape) {



}

@media screen and (min-width: 767px) and (max-width: 991px){



}


@media screen and (max-width: 375px) {

    .breadcrumb-navigation-main{
        text-align: left;
        margin-left: 0;
    }

    .breadcrumb-navigation-main li{
        display: block;
        margin-bottom: 15px;
        text-align: left;
    }

    .cart-icon a amp-img{
        display: none;
    }
}

@media screen and (min-width: 992px) {

    footer{
        padding: 15px 0 10px 0;
        border-top: 1px solid #ccc;
    }

}

@media screen and (min-width: 1199px) {
    .text-bottom{
        margin-left: 15px;
        margin-right: 15px;
    }
}
.amp-footer-menu {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}
.amp-footer-menu li {
    font-size: 16px;
    margin: 0 0 10px;
}
.menu-button {
    top: 20px;
}
.menu-button .fa.fa-bars {
    font-size: 30px;
}
.side-menu {
    padding-top: 40px;
}
.side-menu ul {
    display: none;
}
.side-menu > ul {
    display: block;
}
.side-menu ul li a {
    display: flex;
    justify-content: space-between;
}
.side-menu .__opened + ul {
    display: block;
}
body main {
    padding: 0 15px!important;
}
.section-sort .ampstart-input,
.search-amp-form input[type="text"],
.pagination-wrapper {
    width: 100% !important;
}
* {
    box-sizing: border-box;
}
.blog-page-navigation ul li a,
.blog-page-navigation ul li,
.blog-page-navigation ul li > span {
    width: auto!important;
}
.blog-page-navigation ul {
    text-align: center!important;
}
.blog-page-next,
.blog-page-previous {
    display: none;
}
img {
    max-width: 100%;
}