.nav_top {
  display: flex;
  justify-content: space-between;
}

.header__search {
  max-width: none;
  margin-top: 5px;
}

.c-phone-add-js {
  color: #000;
  font-size: 13px;
  font-family: 'ProximaNova';
  font-weight: 400;
  margin: 0;
}

@media (min-width: 768px) {
  .navbar-nav > li {
    flex: 1;
  }
}

.c-header-contact-mob {
  display: none;
}

.navbar-nav {
  flex: 1;
}

/*корзина*/
.col-nav-service {
  flex: 1;
}

.head-phone-number {
  margin-right: 0 !important;
  margin-left: 3px;
  margin-top: 0 !important;
}

.header__contacts {
  justify-content: space-evenly !important;;
  margin-left: 0;
  margin-right: 0;
  position: relative;
}

.header__contact :before {
  align-self: center;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("/local/templates/letabouret/images/phone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -2px;
  top: 5px;
}

.head-phone-number {
  position: relative;
}

.head-phone-number:before {
  align-self: center;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("/local/templates/letabouret/images/phone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -2px;
  top: 7px;
}

#bx_basketFKauiI > ul > li{
  padding-right: 15px;
  padding-left: 15px;
    margin-right:30px;
  max-width: 165px;
  width: 100%;
}

@media (max-width: 768px) {
 /* .navbar_catalog .navbar-nav>.nav-item>.nav-link {
    font-size: 9px;
  }*/

  .header__contacts {
    display: flex;
    justify-content: space-between;
  }

  /*.header__contacts>.col.col-auto.header__contact {
    font-size: 6px;
  }*/

  /*.header__contacts>.col.col-auto.header__contact > a {
    font-size: 8px;
  }*/

  .c-header-contact-mob {
    display: block;
  }

  .c-header-contact-mob {
    text-decoration: none;
  }

  .nav.nav_service {
    position: static;
  }
}

.nav.nav_service {
  margin-left: 8px;
}

@media (max-width: 576px) {
  .nav.nav_service {
    position: absolute;
    margin-top: 20px;
  }
}
