html .product-tag {
    position: absolute;
    z-index: 10;
    width: auto;
    max-width: 100% !important;
    height: auto;
    background: transparent !important;
}

body {
    min-width: 320px;
}

body.mob-menu-opened {
    overflow: hidden;
}

.header__contacts {
    justify-content: flex-start !important;
}

.header__contact {
    margin: 8px 0;
    padding-right: 0;
}

.product-tag_top_left {
    top: 10px;
    left: 20px;
}
.header__contact {
    margin: 2px 0;
    padding-right: 0;
}

.product-tag_top_right {
    top: 10px;
    right: 10px;
}

.dropdown-text.selected {
    background-color: #c5ced6 !important;
}

.product__price-price {
    font-size: 16px !important;
}

.element__detail-text {
    margin: 20px 0;
}

.product__card .product__label {
    padding: 0;
}

/*  =================   filter style  =====================    */
.smartfilter > .row {
    margin: auto;
    width: 100%;
}

.bx-filter.bx-custom {
    box-sizing: content-box;
    font-family: 'ProximaNova';
    font-size: 16px;
}

/*.bx-filter.bx-custom * {*/
/*box-sizing: border-box;*/
/*}*/
.bx-filter.bx-custom .smartfilter {
    box-sizing: content-box;
}

.bx-filter.bx-custom .smartfilter > .row {
    width: 100%;
}

.bx-custom .bx-filter-parameters-box {
    margin: 5px 0;
    padding: 0;
    border: 1px solid #d4e2e6;
}

.bx-filter-parameters-box-title {
    background: #efefef;
}

.bx-filter.bx-custom .bx-filter-parameters-box-title {
    padding: 7px 0;
}

.bx-filter.bx-custom .bx-filter-parameters-box.bx-active .bx-filter-parameters-box-title {
    border-bottom: 1px solid #d4e2e6;
}

.bx-filter.bx-custom .bx-filter-parameters-box-title span {
    display: flex;
    align-items: center;
    width: auto;
    max-width: 100%;
    padding: 0 0 0 10px;
    color: #000;
    border: none;
    font-family: 'ProximaNova';
    font-size: 16px;
}

.bx-custom .bx-filter-parameters-box-title span .fa {
    margin-left: 5px;
}

.bx-custom .bx-filter-block {
    overflow-y: auto;
    height: 100%;
    max-height: 400px;
    padding: 0 10px;
}

.bx-filter.bx-custom .bx-filter-parameters-box-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bx-filter.bx-custom .bx-ui-slider-track-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-left: 8px;
}

.bx-filter.bx-custom .bx-ui-slider-track {
    width: calc(100% - 8px);
}

.bx-filter.bx-custom .bx-ui-slider-pricebar-vd {
    background: #8facbd;
}

.bx-filter.bx-custom .bx-ui-slider-pricebar-vn {
    opacity: .3;
    background: #8facbd;
}

.bx-filter.bx-custom .bx-filter-parameters-box-container-block {
    width: 48%;
    padding: 0 3px;
}

.bx-filter.bx-custom .range-inner-filter {
    display: flex;
    flex-wrap: wrap;
}

.bx-filter.bx-custom .bx-ui-slider-part.p2, .bx-filter.bx-custom .bx-ui-slider-part.p3, .bx-filter.bx-custom .bx-ui-slider-part.p4 {
    display: none;
}

.bx-filter.bx-custom .bx-ui-slider-handle.left, .bx-filter.bx-custom .bx-ui-slider-handle.right {
    width: 12px;
    height: 12px;
    margin-top: 5px;
    transform: rotate(45deg);
    border: 1px solid #8facbd;
    border-radius: 0 50% 50% 50%;
}

.bx-filter.bx-custom .bx-ui-slider-handle.right {
    margin-right: -7px;
}

.bx-filter.bx-custom .bx-ui-slider-handle.left {
    margin-left: -7px;
}

.bx-filter.bx-custom .bx-filter-parameters-box-container .checkbox {
    display: flex;
}

.bx-filter.bx-custom .bx-filter-parameters-box-container .checkbox:first-child {
    margin: 0;
}

.bx-filter.bx-custom .bx-filter-parameters-box-container .checkbox + .checkbox {
    margin-top: 7px;
    margin-bottom: 7px;
}

.bx-filter.bx-custom .bx-filter-input-checkbox input[type='checkbox'] {
    cursor: pointer;
}

.bx-filter.bx-custom .bx-filter-input-checkbox {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
}

.bx-filter.bx-custom .bx-filter-input-checkbox .bx-filter-param-text {
    color: #333;
    line-height: 1.3;
}

.bx-filter.bx-custom .checkbox label {
    padding-left: 0;
}

.bx-filter.bx-custom .bx-filter-input-checkbox input[type='checkbox'] {
    position: relative;
    width: 1px;
    height: 1px;
    margin: 0 30px 0 0;
    border-color: #d4e2e6 !important;
    border-radius: 0;
    background: transparent;
}

.bx-filter.bx-custom .bx-filter-input-checkbox input[type='checkbox']:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    content: '';
    transform: translateY(-50%);
    border: 1px solid #d4e2e6;
    border-radius: 0;
    background: transparent;
}

.bx-filter-container-modef .bx-filter-popup-result {
    width: 110px;
}

.bx-filter.bx-custom .bx-filter-input-checkbox input:checked:after {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    content: '\f00c';
    transform: translateY(-50%);
    color: #9c4115;
    border: 1px solid #9c4115;
    border-radius: 0;
    background: transparent;
    font-family: 'Font Awesome 5 Pro';
    font-size: 14px;
}

.bx-filter .bx-filter-button-box {
    position: relative;
    z-index: 1;
}

@media (max-width: 992px) {
    .bx-filter .bx-filter-button-box {
        z-index: 90;
    }
}

.bx-filter.bx-custom .btn {
    display: inline-block;
    padding: .375rem .75rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .15s ease-in-out;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.bx-filter.bx-custom .btn.btn-link {
    border: 1px solid #d4e2e6;
    color: #000 !important;
}

.bx-filter.bx-custom .btn.btn-link:hover {
    text-decoration: none;
    background: #d4e2e6;
}

.bx-filter.bx-custom .btn-themes {
    color: #000;
}


/*  ================   header style  =================    */

.header .nav {
    padding: 0;
}

.head-phone-number {
    white-space: nowrap;
}

.bam-ip-confirm {
    margin-top: 7px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.bam-ip-confirm .bam-ip-confirm-content .bam-ip-confirm-title {
    border: none;
}

.bam-ip-confirm .bam-ip-confirm-content .bam-ip-confirm-buttons .bam-ip-confirm-button.bam-ip-confirm-button-no, .bam-ip-confirm .bam-ip-confirm-content .bam-ip-confirm-buttons .bam-ip-confirm-button.bam-ip-confirm-button-yes {
    width: calc(50% - 2px);
    min-width: 102px;
    height: 36px;
    min-height: 36px;
    margin: 1px;
    padding: 10px 12px;
    text-align: center;
    letter-spacing: 1px;
    color: #495057;
    border: 1px solid #d4e2e6;
    border-radius: 4px;
    background: #d4e2e6;
    font-size: 14px;
    line-height: 1;
}

.bam-ip-confirm .bam-ip-confirm-content .bam-ip-confirm-buttons .bam-ip-confirm-button.bam-ip-confirm-button-no:hover, .bam-ip-confirm .bam-ip-confirm-content .bam-ip-confirm-buttons .bam-ip-confirm-button.bam-ip-confirm-button-yes:hover {
    text-decoration: none;
    color: #9c4115;
}

.col-header-contacts {
    flex-shrink: 0;
    padding: 0 30px;
}

.header-row {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 92px;
}

.header__logo {
    padding: 0;
}

.col-nav-service {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 150px;
    margin-top: 0;
    margin-bottom: 10px;
}

.col-nav-service__item {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.navbar-nav {
    flex: 1;
    justify-content: space-between;
}

.navbar-nav .nav-item {
    flex: 0;
}

.mob-menu__main-nav .nav-item.nav-item_sale .nav-link {
    color: #9c4115;
}

#bx_basketFKauiI > ul > li {
    width: auto;
}

.collections__card.collections__card_bg .collections__content {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    background: rgba(256, 256, 256, .5);
}

.collections__card.collections__card_bg .collections__content .collections__text {
    color: #000;
}

.label-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top .1s;
    font-size: 12px;
    line-height: 1;
}

.cat__favorite {
    display: block;
    width: 22px;
    height: 22px;
    transition: background .3s;
    background-image: url('data:image/svg+xml,%3Csvg width=\'25\' height=\'24\' viewBox=\'0 0 25 24\' fill=\'%23ffffff\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M12.0549 3.50479L12.5004 4.3776L12.9456 3.50466C14.0407 1.35759 16.0821 0.5 18.75 0.5C21.9384 0.5 24.5 3.09194 24.5 6.35294C24.5 9.731 22.5215 12.9656 19.9355 15.9353C18.6494 17.4122 17.2311 18.8037 15.8671 20.0963C15.4732 20.4695 15.0825 20.8357 14.7008 21.1936C13.913 21.932 13.1631 22.635 12.5002 23.2918C11.8383 22.6359 11.0896 21.9339 10.303 21.1965C9.92013 20.8375 9.52828 20.4701 9.13313 20.0956C7.76906 18.8026 6.35068 17.4106 5.06463 15.9334C2.47848 12.963 0.5 9.72839 0.5 6.35294C0.5 3.09194 3.06159 0.5 6.25 0.5C8.91784 0.5 10.9589 1.35755 12.0549 3.50479Z\' stroke=\'%23ff0000\'/%3E%3C/svg%3E%0A');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.cat__favorite.active {
    background-image: url('data:image/svg+xml,%3Csvg width=\'25\' height=\'24\' viewBox=\'0 0 25 24\' fill=\'%23ff000\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M12.0549 3.50479L12.5004 4.3776L12.9456 3.50466C14.0407 1.35759 16.0821 0.5 18.75 0.5C21.9384 0.5 24.5 3.09194 24.5 6.35294C24.5 9.731 22.5215 12.9656 19.9355 15.9353C18.6494 17.4122 17.2311 18.8037 15.8671 20.0963C15.4732 20.4695 15.0825 20.8357 14.7008 21.1936C13.913 21.932 13.1631 22.635 12.5002 23.2918C11.8383 22.6359 11.0896 21.9339 10.303 21.1965C9.92013 20.8375 9.52828 20.4701 9.13313 20.0956C7.76906 18.8026 6.35068 17.4106 5.06463 15.9334C2.47848 12.963 0.5 9.72839 0.5 6.35294C0.5 3.09194 3.06159 0.5 6.25 0.5C8.91784 0.5 10.9589 1.35755 12.0549 3.50479Z\' fill=\'%23ff0000\' stroke=\'%23ff0000\'/%3E%3C/svg%3E%0A');
}

.basket-icon {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 24 24\'%3E%3Cdefs/%3E%3Cpath fill=\'%23638EA7\' d=\'M9.75 18.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5zm0 3a.75.75 0 110-1.5.75.75 0 010 1.5zM18.75 18.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5zm0 3a.75.75 0 110-1.5.75.75 0 010 1.5zM23.83 4.02a.75.75 0 00-.58-.27H5.62l-.65-2.44a.75.75 0 00-.72-.56H.75a.75.75 0 000 1.5h2.92l3.86 14.44c.08.33.38.56.72.56h12a.75.75 0 000-1.5H8.83l-.44-1.65 13.4-.6a.75.75 0 00.7-.62l1.5-8.25a.75.75 0 00-.16-.61zm-2.7 8l-13.14.6-1.97-7.37h16.33l-1.23 6.78z\'/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.fa-heart:before {
    content: '';
}

.favourite-icon {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 38px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 24 24\'%3E%3Cdefs/%3E%3Cg clip-path=\'url(%23clip0)\'%3E%3Cpath stroke=\'%23638EA7\' stroke-width=\'1.5\' d=\'M11.58 3.72l.42.86.42-.86C13.44 1.6 15.36.75 17.86.75c2.99 0 5.39 2.56 5.39 5.78 0 3.33-1.85 6.53-4.28 9.46a59.09 59.09 0 01-3.81 4.1l-1.1 1.09c-.74.73-1.44 1.42-2.06 2.07-.62-.65-1.32-1.34-2.06-2.07l-1.1-1.09A59.1 59.1 0 015.03 16C2.6 13.05.75 9.86.75 6.53.75 3.3 3.15.75 6.15.75c2.5 0 4.4.85 5.43 2.97z\'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id=\'clip0\'%3E%3Cpath fill=\'%23fff\' d=\'M0 0h24v24H0z\'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.fixed-profile__fav-text {
    display: flex;
    flex-shrink: 0;
    margin-bottom: 0;
    padding: 0;
}

.fixed-profile__fav-text .nav-link-text {
    padding-left: 15px;
    color: #638ea7;
    font-size: 14px;
}

.product__label_sale {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    line-height: 1;
}

.product__label_new {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    line-height: 1;
}

#bx_basketFKauiI .nav.nav_service {
    position: relative !important;
    margin: 0 !important;
}

#bx_basketFKauiI .nav_service .nav-item {
    margin: 0 !important;
    padding: 0;
}

#bx_basketFKauiI .nav_service .nav-item .nav-link {
    margin: 0 !important;
    padding: 0;
}

.owl-product-items .owl-nav {
    top: -30px;
}

.element__name {
    flex-shrink: 0;
    min-width: 80px;
    min-height: 32px;
    padding: 8px;
    letter-spacing: .05em;
    font-size: 13px;
}

.element__value {
    padding-left: 7px;
    word-break: break-word;
}

.product__labels {
    display: flex;
    align-items: center;
}

.main-contacts .main-contacts__map {
    position: relative;
    z-index: 2;
}

.main-contacts .main-contacts__map .map_preload {
    max-width: none;
}

.main-contacts .main-contacts__map .map_preload-wrap {
    position: relative;
    z-index: 3;
    display: block;
    overflow: hidden;
}

.main-contacts .main-contacts__map .map_preload-wrap:before {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    display: block;
    opacity: .5;
    width: 100%;
    height: 100%;
    content: '';
    background: #fff;
}

.main-contacts .main-contacts__map .map-load {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preloader {
    position: relative;
    pointer-events: none;
}

.preloader:before {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -15px;
    margin-left: -15px;
    content: '';
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border: 4px solid #f9f9f9;
    border-top-color: #009bbb;
    border-radius: 100%;
}

.footer .footer__title {
    margin-bottom: 20px;
}

.footer-subscribe .input-group-append {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #d4e2e6;
    border-left: 0;
    background: #f8fafc;
}

.footer-subscribe .input-group-append .btn-outline-secondary {
    width: 24px;
    height: 24px;
    border: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 24 24\'%3E%3Cdefs/%3E%3Cpath fill=\'%23638EA7\' fill-rule=\'evenodd\' d=\'M3 3h18a2 2 0 012 2v14a2 2 0 01-2 2H3a2 2 0 01-2-2V5c0-1.1.9-2 2-2zm0 6.62V19h18V9.62l-9 4.5-9-4.5zm0-2.24l9 4.5 9-4.5V5H3v2.38z\' clip-rule=\'evenodd\'/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-contacts p {
    font-size: 15px;
}

.main-contacts__phone {
    display: flex;
    flex-direction: column;
}

.product__card {
    transition: box-shadow .3s;
    border: 1px solid transparent;
    background: #fff;
}

.product__card:hover {
    border: 1px solid #fff;
    background-color: #fff;
    box-shadow: 0 8px 12px rgba(0, 0, 0, .1);
}

.product__tags {
    margin-bottom: 8px;
    line-height: 1.2;
}

.product__card .product__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 235px;
}

.product__card .product__title {
    line-height: 1.2;
}

.product__card .product__picture > a {
    display: inline-flex;
    width: 100%;
    max-height: 100%;
}

.product__card .product__picture img {
    height: auto;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: none;
}

.pagination > li > a, .pagination > li > span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background .3s, border .3s;
    font-size: 18px;
}

.special-product__item {
    background: #fff;
    box-shadow: 0 5px 10px rgba(155, 155, 155, .25);
}

.special-product__picture {
    height: 150px;
}

.special-product__picture > a {
    display: inline-flex;
    width: 100%;
    max-height: 100%;
}

.special-product__picture img {
    height: auto;
    max-height: 100%;
}

.special-product__content {
    line-height: 1.2;
}

.special-product__title {
    display: block;
    margin-bottom: 10px;
    line-height: 1.2;
}

@media (min-width: 993px) and (max-width: 1199px) {
    .special-product__title {
        line-height: 1;
    }

    .special-product__price .price-old--hidden {
        width: 100%;
    }
}

.special-product__hint {
    padding: 10px;
    line-height: 1.2;
}

.special-product__hint p {
    margin: 0 0 10px;
}

.special-product__picture a.special-product__add {
    width: 32px;
}

.product__content, .special-product__content {
    padding: 10px 10px 15px 10px;
}

.special-product .owl-stage {
    padding-bottom: 10px;
}

.banner-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
}

.banner-picture picture {
    width: 100%;
    height: 100%;
}

.owl-carousel .owl-item .banner-picture__img {
    width: 100%;
}

.popup-window.popup-window-with-titlebar {
    padding: 20px 30px 30px;
}

.popup-window-titlebar-text {
    padding: 0;
    color: #000;
    font-family: 'ProximaNova';
    font-size: 24px;
    font-weight: 600;
}

.popup-window-with-titlebar .popup-window-content {
    padding: 10px 0;
}

.popup-window-with-titlebar .popup-window-content img {
    margin-bottom: 20px;
}

.popup-window-with-titlebar .popup-window-content p {
    margin: 0;
    font-family: 'ProximaNova';
    font-size: 15px;
}

.popup-window-buttons {
    padding: 20px 0 0;
}

.popup-window-buttons .btn.btn-default {
    width: 100%;
    max-width: 220px;
    padding: 12px 15px;
    border-color: #9c4115;
    border-radius: 0;
    background: #9c4115;
    font-family: 'ProximaNova';
    font-size: 15px;
}

.popup-window-buttons .btn.btn-default:hover {
    border-color: #c26c42;
    background: #c26c42;
}

.popup-window-titlebar-close-icon {
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
}

.popup-window-close-icon:after {
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 24 24\'%3E%3Cpath stroke=\'%23638EA7\' stroke-linecap=\'round\' stroke-linejoin=\'round\' stroke-width=\'1.5\' d=\'M20 5L7 18m13 0L7 5\'/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: contain;
}

.catalog__banner-content {
    display: flex;
    flex-direction: column;
}

.catalog__banner-detail {
    margin: 0 auto;
}

.modal .modal-dialog .form-control {
    border-radius: 0;
}

.modal .modal-dialog .form-group_submit .basket__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;
    padding: 15px;
    border-radius: 0;
    background: #9c4115;
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 1199px) {
    .header__contact {
        margin-bottom: 5px;
    }

    .header__logo {
        max-width: 129px;
    }

    .col-header-contacts {
        padding: 0 15px;
    }
}

@media (min-width: 993px) {
    .mob-menu {
        display: none;
    }

    .col-nav-service {
        align-self: flex-end;
    }

    .bam-ip {
        margin: 15px 0 10px;
        font-size: 14px;
    }

    .nav-link .basket-icon:hover .label-counter, .fixed-profile__fav-text:hover .label-counter {
        top: -12px;
    }

    .bx-filter.bx-custom .btn-themes:hover {
        background: #d4e2e6;
    }

    .bx-filter.bx-custom .bx-filter-parameters-box-title span:hover {
        border: none;
    }

    .navbar-toggler {
        display: none;
    }

    .hide-on-desktop {
        display: none;
    }

    .social__link {
        transition: opacity .3s;
    }

    .social__link:hover {
        opacity: .5;
    }

    .d-lg-block {
        display: flex !important;
        flex-direction: column;
        flex-grow: 1;
        max-width: 770px;
    }

}

@media (max-width: 992px) {
    .bx-ios body .mob-menu-inner .mob-menu__small-nav {
        margin-bottom: 100px;
    }

    .bx-ios body .catalog-scroll-top .catalog__left {
        height: 100%;
        overflow: hidden;
    }

    .bx-ios body .catalog__left {
        min-width: 520px;
        height: 100%;
    }

    .bx-ios body .bx-filter.bx-custom .bx-filter-button-box {
        height: 130px;
    }

    .bx-filter.bx-custom .bx-ui-slider-track-container {
        padding: 40px 10px;
    }

    .bx-filter.bx-custom .bx-ui-slider-track-container .bx-ui-slider-track {
        width: calc(100% - 20px);
        margin: auto;
    }

    .bx-filter.bx-custom .bx-ui-slider-handle.left, .bx-filter.bx-custom .bx-ui-slider-handle.right {
        width: 25px;
        height: 25px;
    }

    .bx-filter.bx-custom .bx-ui-slider-handle.left {
        margin-left: -10px;
    }

    .bx-filter.bx-custom .bx-ui-slider-handle.right {
        margin-right: -10px;
    }

    .mob-menu {
        position: fixed;
        z-index: 10000000;
        top: 90px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 90px);
        transform: translateX(-100%);
        background: #fff;
    }

    .mob-menu.active {
        transform: translateX(0);
    }

    .mob-menu-inner {
        overflow: auto;
        max-height: 100%;
    }

    .mob-menu .navbar-collapse {
        margin-top: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .mob-menu__main-nav .nav-item {
        position: relative;
        z-index: 1;
        border-bottom: 1px solid #d4e2e6;
    }

    .mob-menu__main-nav .dropdown.nav-item:before {
        position: absolute;
        z-index: -1;
        top: 13px;
        right: 15px;
        display: block;
        width: 30px;
        height: 30px;
        content: '';
        background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 24 24\'%3E%3Cdefs/%3E%3Cpath stroke=\'%23131313\' stroke-linecap=\'round\' d=\'M19 12H5m7-7v14V5z\'/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .mob-menu__main-nav .dropdown.active.nav-item:before {
        top: 11px;
        background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 24 24\'%3E%3Cdefs/%3E%3Cpath stroke=\'%23A8491B\' stroke-linecap=\'round\' stroke-width=\'1.5\' d=\'M19 12H5\'/%3E%3C/svg%3E');
    }

    .mob-menu__main-nav .nav-item .nav-link {
        padding: 20px 15px;
        text-transform: uppercase;
        color: #131313;
        font-size: 20px;
        font-weight: 500;
    }

    .mob-menu .nav-item .nav-link .fa-angle-down {
        display: none;
    }

    .mob-menu .navbar-nav {
        float: none;
    }

    .mob-menu .navbar-nav .dropdown-menu {
        position: static;
        padding: 0 0 10px;
    }

    .mob-menu .dropdown-menu {
        border: none;
        box-shadow: none;
    }

    .mob-menu .nav-sub {
        flex-direction: column;
        width: 100%;
    }

    .mob-menu .nav-sub-item {
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        padding: 10px 15px;
    }

    .mob-menu .dropdown.nav-sub-item:before {
        position: absolute;
        top: 9px;
        right: 15px;
        display: block;
        width: 30px;
        height: 30px;
        content: '';
        background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 24 24\'%3E%3Cdefs/%3E%3Cpath stroke=\'%23131313\' stroke-linecap=\'round\' d=\'M19 12H5m7-7v14V5z\'/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .mob-menu .dropdown.nav-sub-item.active:before {
        background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 24 24\'%3E%3Cdefs/%3E%3Cpath stroke=\'%23A8491B\' stroke-linecap=\'round\' stroke-width=\'1.5\' d=\'M19 12H5\'/%3E%3C/svg%3E');
    }

    .mob-menu .dropdown.nav-sub-item.active .nav-child {
        display: flex;
    }

    .mob-menu .nav-sub-item .nav-child {
        display: none;
        flex-direction: column;
        padding: 5px 40px;
        list-style: none;
    }

    .mob-menu .nav-sub-item .nav-child .nav-child-item .nav-child-link {
        padding: 15px 0;
        color: #131313;
        font-size: 20px;
    }

    .mob-menu .nav-sub-item .nav-sub-link {
        display: flex;
        width: auto;
        max-width: 100%;
        color: #131313;
        font-size: 20px;
        font-weight: 600;
    }

    .mob-menu__small-nav .nav {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .mob-menu__small-nav .nav .nav-item .nav-link {
        padding: 10px 0;
        color: #131313;
        font-size: 20px;
    }

    .header .nav-item .nav-link:hover {
        text-decoration: none;
    }

    .col-nav-service {
        position: absolute;
        z-index: 22;
        right: 0;
    }

    .bam-ip {
        position: relative;
        margin: 0;
        padding-left: 25px;
    }

    .bam-ip:before {
        position: absolute;
        top: 2px;
        left: 0;
        display: flex;
        width: 20px;
        height: 20px;
        margin: 0;
        content: '';
        background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 20 20\'%3E%3Cdefs/%3E%3Cpath stroke=\'%239C4115\' stroke-linecap=\'round\' stroke-width=\'1.5\' d=\'M10 10.83a2.5 2.5 0 100-5 2.5 2.5 0 000 5z\'/%3E%3Cpath stroke=\'%239C4115\' stroke-width=\'1.5\' d=\'M15.83 8.33c0 5-5.83 9.17-5.83 9.17s-5.83-4.17-5.83-9.17a5.83 5.83 0 0111.66 0z\'/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__contact {
        margin: 0 0 15px;
        padding-right: 0;
    }

    .product__title {
        min-height: 48px;
    }

    .product__name {
        height: 48px;
    }

    .product__tags,
    .nav-item-more {
        display: none;
    }

    .navbar-toggler {
        padding: 5px 10px 10px 5px;
    }

    .navbar-toggler .collapsed {
        box-shadow: none;
    }

    .navbar-toggler {
        display: block;
        overflow: hidden;
        width: 40px;
        height: 40px;
        padding: 0;
        color: #638ea7;
        border: 0;
    }

    .navbar-toggler-icon {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 25px;
        background: none !important;
    }

    .navbar-toggler-icon span {
        display: block;
        width: 100%;
        height: 3px;
        transition: all .3s ease;
        background-color: #638ea7;
    }

    .navbar-toggler:not(.collapsed) .navbar-toggler-icon span:first-child {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .navbar-toggler:not(.collapsed) .navbar-toggler-icon span:nth-child(2) {
        transform: translateX(100%);
    }

    .navbar-toggler:not(.collapsed) .navbar-toggler-icon span:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .hide-on-mob {
        display: none !important;
    }

    header {
        height: 186px;
    }

    .header {
        width: 100%;
        height: 92px;
        padding: 0;
        transition: height .3s;
        background: #fff;
        box-shadow: 0 5px 10px rgba(155, 155, 155, .25);
    }

    .header-fixed {
        position: fixed;
        z-index: 10000;
    }

    .bam-ip .bam-ip-link:hover {
        border: none;
    }

    .header-row {
        position: relative;
        margin-bottom: 94px;
        padding: 7px 15px;
    }

    .header-fixed .header-row {
        margin-bottom: 0;
    }

    .header-row .navbar-toggler {
        flex-shrink: 0;
        order: 1;
        margin-right: 20px;
    }

    .header-row .d-lg-block {
        order: 2;
    }

    .header-row .header__logo {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        order: 3;
        padding: 0;
    }

    .header-row .header__logo .header__logo-link {
        display: flex;
        max-width: 150px;
    }

    .header-row .col-nav-service {
        position: static;
        order: 4;
        width: auto;
        max-width: min-content;
        margin: 0;
    }

    .header-row .col-header-contacts {
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        order: 5;
        width: 100%;
        height: 94px;
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .col-nav-service__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
    }

    .search-icon {
        width: 40px;
        height: 40px;
        margin: 0 20px;
        background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 24 24\'%3E%3Cdefs/%3E%3Cpath stroke=\'%23638EA7\' stroke-width=\'1.5\' d=\'M10.5 18a7.5 7.5 0 100-15 7.5 7.5 0 000 15z\'/%3E%3Cpath stroke=\'%23638EA7\' stroke-linecap=\'round\' stroke-linejoin=\'round\' stroke-width=\'1.5\' d=\'M21 21l-5-5\'/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .search-icon-close {
        display: none;
        width: 30px;
        height: 30px;
        margin: 0 20px;
        background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 24 24\'%3E%3Cdefs/%3E%3Cpath stroke=\'%23638EA7\' stroke-linecap=\'round\' stroke-linejoin=\'round\' stroke-width=\'1.5\' d=\'M21 21L3 3m18 0L3 21 21 3z\'/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .header__search {
        margin: 0;
    }

    .header__search.active form {
        position: absolute;
        z-index: 100000;
        top: 0;
        left: 0;
        display: inline-flex;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #fff;
    }

    .header__search form .input-group {
        width: calc(100% - 65px);
        margin-bottom: 0 !important;
    }

    .header__search form .btn-outline-secondary {
        border: none;
    }

    .header__search form .btn-outline-secondary .fas.fa-search {
        font-size: 30px;
    }

    .header__search form .input-group .input-group-append {
        margin: 0;
    }

    .header__search form .input-group .form-control {
        padding: 10px 15px;
        border: 1px solid #d4e2e6;
        border-radius: 30px;
        font-size: 16px;
        line-height: 1;
    }

    .header__search.active .search-icon-close {
        display: flex;
    }

    .header__search form {
        display: none;
    }

    .nav.nav_service {
        top: 0;
        right: 0;
    }

    .nav-item.dropdown:hover > .dropdown-menu {
        display: none;
    }

    .nav-item.dropdown.active .nav-link .far {
        margin-top: -2px;
        transform: rotate(180deg);
    }

    .nav-item.dropdown.active > .dropdown-menu {
        display: block;
    }

    .navbar-expand-md .navbar-nav {
        float: none;
        padding: 20px;
    }

    .collections__item .collections__detail {
        display: block;
    }

    .collections__description {
        padding: 20px 20px 30px;
    }

    .collections__content {
        display: block;
        overflow: hidden;
        max-width: 100%;
        height: auto;
        max-height: 90%;
    }

    .collections__text {
        display: block;
        overflow: hidden;
        height: 100%;
        max-height: 100%;
    }

    .favourite-icon {
        margin-top: -4px;
    }

    .footer .footer__title {
        margin-bottom: 10px;
    }

    .footer .footer__items {
        justify-content: space-between;
    }

    .footer .footer__items .footer-info {
        order: 4;
    }

    .footer .footer-menu-1, .footer .footer-menu-2 {
        width: 33.3%;
        margin-bottom: 30px;
    }
}

@media (min-width: 769px) {
}

@media (max-width: 768px) {
    .col-nav-service {
        align-items: center;
        max-width: 210px;
        margin-right: 0;
    }

    .collapse:not(.show) {
        display: none !important;
    }

    #bx_basketFKauiI .nav_service .nav-item .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .nav_service .far {
        font-size: 40px;
        font-weight: 100;
    }

    .navbar {
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;
        width: 100vw;
        padding: 0 15px;
    }

    .navbar-nav {
        float: none;
    }

    .navbar_catalog {
        margin-top: 0;
        background: transparent;
    }

    .navbar-collapse {
        margin-top: 80px;
        border-bottom: none;
        background: #fff;
    }

    .header__logo {
        position: relative;
        z-index: 100;
    }

    .header__contacts {
        display: block;
    }

    .product_offset .product__items {
        max-width: 100%;
    }
}

@media (max-width: 575px) {
    body {
        font-size: 20px;
        line-height: 1.3;
    }

    .h1, h1 {
        font-size: 32px;
        line-height: 1.2;
    }

    .element p, .text p {
        font-size: 20px;
        line-height: 1.3;
    }

    .btn {
        font-size: 18px;
    }

    .header__logo {
        max-width: 100%;
    }

    .popup-window {
        width: 80vw;
    }

    .popup-window-with-titlebar .popup-window-content p, .popup-window-buttons .btn.btn-default {
        font-size: 20px;
    }

    .modal.show .modal-dialog {
        transform: translate(0, 15vh);
    }

    body .bam-ip-popup .bam-ip-popup-window .bam-ip-popup-title h3 {
        font-size: 24px;
    }

    .bam-ip-popup .bam-ip-popup-window .bam-ip-popup-title .bam-ip-popup-close {
        width: 20px;
        height: 20px;
    }

    .header__search form .input-group .form-control, .form .form-control, .form-control, .basket .form-control {
        font-size: 18px;
    }

    .form-group_submit .basket__button {
        font-size: 20px;
    }

    .breadcrumb .breadcrumb-item, .breadcrumb .breadcrumb-item.active {
        font-size: 22px;
        line-height: 1.3;
    }

    .breadcrumb .breadcrumb-item {
        margin-bottom: 6px;
    }

    .product__price-price {
        font-size: 22px !important;
        font-weight: bold;
    }

    .element__prop {
        margin-top: 20px;
    }

    .element__name {
        font-size: 18px;
        line-height: 1;
    }

    .element__value {
        font-size: 20px;
        line-height: 1;
    }

    .element__tabs-nav .nav-link {
        font-size: 18px;
    }

    .product__price {
        font-size: 20px;
        font-weight: bold;
    }

    .product__query:hover {
        text-decoration: none;
    }

    .collections__text {
        font-size: 20px;
    }

    .collections__detail {
        font-size: 18px;
    }

    .nav.nav_service {
        top: 0;
        right: 0;
    }

    .navbar_catalog .nav-link, .dropdown-item {
        font-size: 14px;
    }

    .cat__favorite {
        width: 35px;
        height: 35px;
    }

    .owl-product-items .owl-nav {
        top: 40%;
        left: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .owl-product-items .owl-nav button.owl-prev, .owl-product-items .owl-nav button.owl-next {
        margin: 0;
        padding: 0 7px !important;
        background: rgba(256, 256, 256, .5);
    }

    .owl-stage-outer .owl-item .product__item {
        max-width: 100%;
    }

    .product__item {
        max-width: 49%;
    }

    .header__contacts a {
        font-size: 20px;
        font-weight: normal;
    }

    .header__contact:before {
        left: -4px;
        width: 14px;
        height: 14px;
    }

    .bam-ip .bam-ip-link {
        font-size: 20px;
    }

    .special-product__title, .product__card .product__title {
        font-size: 20px;
    }

    .product__card .product__picture {
        height: 170px;
    }

    .banner-picture {
        height: 100%;
    }

    .banner-picture__img {
        width: auto;
        max-width: unset;
        height: 100%;
    }

    .footer .footer__items {
        flex-direction: column;
    }

    .footer .footer-info {
        display: flex;
        justify-content: center;
    }

    .footer .social {
        justify-content: center;
    }

    .footer__items .col-menu .footer__menu {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .footer__items .col-menu .footer__menu.active .footer__title:before {
        transform: rotate(180deg);
    }

    .footer__items .col-menu .footer__menu.active .footer__nav {
        display: block;
    }

    .footer__logo {
        max-width: 100%;
    }

    .footer__logo a {
        max-width: 235px;
    }

    .footer__text {
        font-size: 16px;
        line-height: 1.2;
    }

    .footer__items .col-menu .footer__title {
        position: relative;
        padding-right: 30px;
        font-size: 20px;
    }

    .footer__link {
        font-size: 18px;
    }

    .footer__items .col-menu .footer__title:before {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        width: 24px;
        height: 24px;
        content: '';
        background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 24 24\'%3E%3Cdefs/%3E%3Cpath stroke=\'%239C4115\' stroke-linecap=\'round\' stroke-width=\'1.5\' d=\'M6 9l6 6 6-6\'/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .footer__items .col-menu {
        width: 100%;
        padding: 0 15px;
    }

    .footer .footer__nav {
        display: none;
    }

    .footer .footer-subscribe .footer__title {
        text-transform: none;
        font-weight: bold;
    }
}

.flex-container {
    display: flex;
    margin: 0 -15px;
}

.flex-container-7, .flex-container-5 {
    padding: 0 15px;
}

.flex-container-7 {
    width: 60%;
}

.flex-container-5 {
    width: 40%;
}

.post {
    margin: 30px 0 15px;
}

.post-title {
    font-size: 40px;
    font-weight: 700;
    color: #23292B;
}

.flex-panel {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    margin: 0 -15px 20px;
}

.flex-panel__item {
    display: flex;
    width: calc(25% - 30px);
    margin: 10px 15px;
}

.flex-col {
    column-count: 2;
    column-gap: 20px;
    margin-bottom: 30px;
}

.flex-col__item {
    break-inside: avoid;
    page-break-inside: avoid;
}

@media (max-width: 1200px) {
    .post-title {
        font-size: 32px;
    }
}

@media (max-width: 992px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-container-7, .flex-container-5 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .flex-col {
        column-count: 1;
        column-gap: 0;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    .post-title {
        font-size: 28px;
    }

    .flex-panel__item {
        display: flex;
        width: calc(50% - 30px);
        margin: 10px 15px;
    }

}


/* cookie modal */
.modal--cookie {
    text-align: center;
    top: auto;
    bottom: 0;
    z-index: 100000;
}

.modal--cookie.visible {
    display: block;
}

.modal--cookie .basket__button {
    width: 100%;
    max-width: 320px;
}

body.no-touch {
    position: relative;
    overflow: hidden;
}

body.no-touch::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.catalog-product-slide-img,
.swiper-thumbnail-img {
    cursor: pointer;
}

.main-contacts__map-preload {
    display: inline-block;
    position: relative;
}

.bx-filter.bx-custom .btn.btn-themes.button-desctop {
    display: none;
}

@media (max-width: 992px) {
    .lg-backdrop {
        z-index: 10400;
    }

    .lg-outer {
        z-index: 10500;
    }

    ._orientationRight_4c11.wrap_ca8e {
        z-index: 1000000 !important;
    }

    .popup-window[style*="block"] {
        z-index: 10000001 !important;
    }
}

@media (max-width: 768px) {
    .mob-menu__small-nav .nav .nav-item .nav-link {
        font-size: 22px;
    }

    .mob-menu .nav-sub-item .nav-sub-link {
        font-size: 22px;
    }

    .mob-menu .nav-sub-item .nav-child .nav-child-item .nav-child-link {
        font-size: 22px;
    }

    .collections__text {
        font-size: 22px;
        line-height: 22px;
    }

    .collections__detail {
        font-size: 22px;
        bottom: 10px;
    }

    .footer__items .col-menu .footer__title {
        font-size: 22px;
    }

    .footer__link {
        font-size: 22px;
        line-height: 40px;
    }

    .footer__text {
        font-size: 18px;
    }
}

.scroll-top {
    cursor: pointer;
    position: fixed;
    right: 0;
    bottom: 120px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    background: #783e23;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity ease 0.3s, visibility ease 0.3s, background-color ease 0.3s;
}

.scroll-top.active {
    opacity: 1;
    visibility: visible;
}

.scroll-top.active:hover {
    background: #c2643a;
}

.scroll-top__icon {
    display: block;
    width: 40px;
    height: 40px;
    transform: rotate(-90deg) scale(1.4);
    fill: #fff;
}

.social__item img {
    width: 38px;
    height: 38px;
}

.catalog-product-slide-img {
    width: 100%;
}

.collections__name::after {
    margin: 0;
}

.banner {
    max-height: 630px;
    height: auto;
}

.owl-carousel .owl-stage {
    display: flex !important
    /*!important not required but maybe need if there some others css rules for .owl-stage display */
}

.owl-dots {
    margin-top: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.owl-dots button.owl-dot {
    width: 1.0rem;
    height: 1.0rem;
    border-radius: 50%;
    display: inline-block;
    background: #638ea7;
    opacity: 0.6;
    margin: 0 3px;
}

.main_slider_info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.in_text {
    background: rgba(256, 256, 256, .85);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 30px;
    display: inline-block;
}

.slider_more {
    font-weight: 700;
    font-size: 1rem;
    line-height: 24px;
    color: #fff !important;
    background-color: #9c4115;
    display: inline-block;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.main_slider_text {
    margin: 0.5rem 0;
}

.main_slider_text img {
    display: inline-block !important;
    margin: 0.5rem 0 !important;
}

.fl_left {
    justify-content: left;
    padding-left: 2rem;
}

.fl_right {
    justify-content: right;
    padding-right: 2rem;
}

.fl_right .main_slider_text {
    text-align: right;
}

.fl_right .slider_more {
    float: right;
}

.fl_right .collections__name {
    text-align: right;

}

.banner-picture .collections__name::after {
    display: none !important;
}

@media (max-width: 768px) {

    .in_text {
        background: rgba(256, 256, 256, .45);}
    .fl_right .main_slider_text {
        text-align: left;
    }

    .fl_right .slider_more {
        float: none;
    }

    .fl_right .collections__name {
        text-align: left;

    }

    .fl_right .collections__name::after {
        position: absolute;
        left: 2rem;
    }


    .fl_left, .fl_right {
        justify-content: center;
        padding: 0;
    }

    .in_text {
        padding: 1rem;
        max-width: 80%;
    }

    .slider_more {
        font-size: 1.2rem;
       
        text-align: center;
    }

    .tagcloud a {
        margin-top: 1rem;
    }
}

.tagcloud {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.tagcloud a {
    gap: 15px;
    padding: 5px 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 18px;
margin: .5rem 0;
}
@media (min-width: 993px){
.bam-ip {
    margin: 15px 0 5px 0;
    font-size: 14px;
}}

@media (max-width: 575px){
.header__contact {
    margin: 0;
    padding-right: 0;
}
.header__contacts a {
    font-size: 14px;
    font-weight: normal;
	}}