.sotbit-seometa-tag-link{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 14px;
    color: #638EA7;
    text-align: center;
    min-width: 102px;
    min-height: 36px;
    padding: 10px 12px;
    border-radius: 0px;
    border: 1px solid #638EA7;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 10px;
    background: #fff;
}

.sotbit-seometa-tag-link:hover {
    color: #638EA7;
    text-decoration: underline;
}

.hidden-clouds{
    display: none;
}

.hidden-clouds a{
    margin-right: 4px;
}

.show-clouds{
    display: none;
    width: 100%;
    color: #638EA7;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}