/* CONTAINER */
div.orbit { width: 1px; height: 1px; position: relative; overflow: hidden; }
div.orbit img { position: absolute; top: 0; left: 0; }
div.orbit a img { border: none; }

/* TIMER */
div.timer { width: 40px; height: 40px; overflow: hidden; position: absolute; top: 10px; right:10px; opacity: .6; cursor: pointer; z-index: 981; }
span.rotator { display: block; width: 40px; height: 40px; position: absolute; top: 0; left: -20px; background: url('/jquery/orbit/rotator-black.png') no-repeat; z-index: 3; }
span.mask { display: block; width: 20px; height: 40px; position: absolute; top: 0; right: 0; z-index: 2; overflow: hidden; }
span.rotator.move { left: 0; }
span.mask.move { width: 40px; left: 0; background: url('/jquery/orbit/timer-black.png') repeat 0px 0px;  }
span.pause { display: block; width: 40px; height: 40px; position: absolute; top: 0; left: 0px; background: url('/jquery/orbit/pause-black.png') no-repeat; z-index: 4; opacity: 0; }
div.timer:hover span.pause,
span.pause.active, 
div.timer:hover span.pause.active { opacity: 1; }

/* CAPTIONS */
div.caption { background: #000; background: rgba(0,0,0,.6); width: 100%; z-index: 985; position: absolute; bottom:-100px; color: #fff; padding: 8px 0; }
div.caption span { padding: 0 10px; font-size: 14px; text-shadow: 0px 1px 0px rgba(0,0,0,.8); margin: 0; }
.orbit-caption { display: none; color: #ffffff; }

/* DIRECTIONAL NAV */
div.slider-nav {top:0;display:block; width:50px; height: 100%; position: absolute;z-index:999;}
div.slider-nav > span{display:none;width:100%;height: 100%}
div.slider-nav-left {display: block;top:0;left:0}
div.slider-nav-left:hover>span,div.slider-nav-right:hover>span{display: block}
div.slider-nav-right {display: block;top:0;right:0}
div.slider-nav span {  text-indent: -9999px; position: absolute; z-index: 985; top: 0%; cursor: pointer; }
div.slider-nav span.right { background: url('/jquery/orbit/right-arrow.png') center center no-repeat; right: 10px; }
div.slider-nav span.left { background: url('/jquery/orbit/left-arrow.png') center center no-repeat; left: 10px; }   

/* BULLET NAV */
.orbit-bullets { position: absolute; top: 268px; z-index: 985; list-style: none; bottom: 10px; width: 1260px; text-align: center; padding: 0; }
.orbit-bullets li { display: inline-block; margin: 0 3px; cursor: pointer; color: #999;opacity:0.75; text-indent: -9999px; background: #bbb no-repeat 0 0; width: 10px; height: 10px;-webkit-border-radius:10px;border-radius:10px; overflow: hidden; box-shadow: 1px 1px 2px rgba(0,0,0,0.75), 1px 1px 0 rgba(255,255,255,0.75) inset }
.orbit-bullets li.active,.orbit-bullets li:hover { color: #222; background-color:#c5c676; }