.us-btns .element__name{
    color: #000;
    width: 100%;
    cursor: context-menu;
}
.us-btns .element__name.js-product-delivery-btn{
    cursor: pointer;
}
.us-btns .element__name.active{
    background-color: #d4e2e6;
    border: 1px solid #d4e2e6;
}
.us-btns .element__name:hover {
    background-color: #d4e2e6;
    border: 1px solid #d4e2e6;
}
.us-btns.us-btns-notab .element__name {
    position: relative;
    pointer-events: none;
    cursor: default;
    border: none;
    text-align: left;
    color: #000;
    padding: 8px 8px 8px 12px;
}
.us-btns.us-btns-notab .element__name:before {
    position: absolute;
    top: 13px;
    left: 0;
    content: '';
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 100%;
}
.components-item-img {
    border-radius: 50%;
    display: block;
    width: 105px !important;
    height: 105px !important;
}
.components-title {
    margin-bottom: 15px;
    font-weight:bold;
}
a.js-components-more.extremum-click {
    display: inline-block;
    font-weight: bold;
    margin-top: 0.5rem;
    border-radius: 4px;
    background-color: #f2f2f2;
    font-size: 14px;
}
.components-preview p{
    padding-left:0 !important;
    padding-right:0 !important;
}
.hider{
display:none;
}
.product_icons{
    display:flex;
flex-basis: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:20px 0;
    padding:0;

}
.product_icons li{
    list-style-type: none;
    margin:10px 0;
}
.product_icons li img{
    width:90px;
    height:90px;
}
.matras_comps{
    margin-top:2rem;
}