
#slider {
    width: 680px;
    margin: 5px auto 10px auto;
    position: relative;
}

.scroll {
    width: 680px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
}

.scrollContainer div.panel {
    padding: 15px 0px 1px 0px;
    min-height: 90px;
    width: 680px;
}

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 9px;
	z-index: 10;
	background: url('/img/pix.gif') repeat-x 0px 27px; 
}

ul.navigation li {
    display: inline;
    margin-right: 10px;
}

ul.navigation a {
    padding: 5px 10px 15px 10px;
    color: #454545;
	font-size: 14px;
    text-decoration: none;
	background: #dac6c7 url('/img/selec2.gif') repeat-x bottom center;
	-moz-border-radius: 5px; border-radius: 5px;
}

ul.navigation a:hover {
	color: #000000;
	text-decoration: underline;
}

ul.navigation a.selected {
	color: #000000;
	background: #deb693 url('/img/selec.gif') no-repeat bottom center;
}

ul.navigation a:focus {
    outline: none;
}

.scrollButtons {
    position: absolute;
    top: 150px;
    cursor: pointer;
}

.scrollButtons.left {
    left: -20px;
}

.scrollButtons.right {
    right: -20px;
}

.hide {
    display: none;
}