<link href="/jquery/coda/coda-slider.css" type="text/css" rel="stylesheet" />
<script src="/jquery/coda/jquery.localscroll-1.2.5.js" type="text/javascript"></script>
<script src="/jquery/coda/jquery.serialScroll-1.2.1.js" type="text/javascript"></script>
<script src="/jquery/coda/coda-slider.js" type="text/javascript"></script>