.swiper-thumbnail {
	height: 110px!important;
	width: 100%;
	border: 3px solid #fff;
	background-color: #fff;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.swiper-thumbnail-img {
	/*object-fit: cover;*/
	/*min-width: 100%;*/
	/*min-height: 100%;*/
}
.swiper-slide-thumb-active {
	border: 3px solid #9caeb3
}

.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 2
}

.swiper-container-vertical > .swiper-wrapper {
	flex-direction: column
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	box-sizing: content-box
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.swiper-container-multirow > .swiper-wrapper {
	flex-wrap: wrap
}

.swiper-container-multirow-column > .swiper-wrapper {
	flex-wrap: wrap;
	flex-direction: column
}

.swiper-container-free-mode > .swiper-wrapper {
	transition-timing-function: ease-out;
	margin: 0 auto
}

.swiper-slide {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform
}

.swiper-slide-invisible-blank {
	visibility: hidden
}

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
	height: auto
}

.swiper-container-autoheight .swiper-wrapper {
	align-items: flex-start;
	transition-property: height, -webkit-transform;
	transition-property: transform, height;
	transition-property: transform, height, -webkit-transform
}

.swiper-container-3d {
	-webkit-perspective: 1200px;
	perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
	background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-right {
	background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-top {
	background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-bottom {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-css-mode > .swiper-wrapper {
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style: none
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
	display: none
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
	scroll-snap-align: start start
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
	-ms-scroll-snap-type: x mandatory;
	scroll-snap-type: x mandatory
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
	-ms-scroll-snap-type: y mandatory;
	scroll-snap-type: y mandatory
}

:root {
	--swiper-navigation-size: 44px
}

.swiper-button-next, .swiper-button-prev {
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 48px;
	height: 48px;
	display: block;
	font-size: 0;
	border: none;
	background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.9721 8.22125C18.629 10.5644 18.629 14.3634 20.9721 16.7065L24.2656 20H10C7.79086 20 6 21.7909 6 24C6 26.2091 7.79086 28 10 28H24.6292L21.0324 31.5967C18.6893 33.9399 18.6893 37.7389 21.0324 40.082L21.8392 40.8888C22.6203 41.6699 23.8866 41.6699 24.6676 40.8888L37.0919 28.4645C38.2746 27.2818 38.8604 25.7282 38.8491 24.178C38.8584 22.6304 38.2727 21.0798 37.0919 19.899L24.6073 7.41448C23.8263 6.63343 22.56 6.63343 21.7789 7.41448L20.9721 8.22125Z' fill='%23E4E9E1'/%3E%3C/svg%3E%0A");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	transition: opacity .3s;
	border-radius: 20px
}

.swiper-button-next:hover, .swiper-button-prev:hover {
	background-color: #fff;
	box-shadow: 0 0 0 4px #fff, 4px 4px 20px 4px rgba(191, 212, 226, .25)
}

.swiper-button-prev {
	background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.0279 39.7787C29.371 37.4356 29.371 33.6366 27.0279 31.2935L23.7344 28L38 28C40.2091 28 42 26.2091 42 24C42 21.7909 40.2091 20 38 20L23.3708 20L26.9676 16.4033C29.3107 14.0601 29.3107 10.2611 26.9676 7.91798L26.1608 7.1112C25.3797 6.33015 24.1134 6.33015 23.3324 7.1112L10.9081 19.5355C9.72537 20.7182 9.13964 22.2718 9.1509 23.822C9.14157 25.3696 9.72732 26.9202 10.9082 28.101L23.3927 40.5855C24.1737 41.3666 25.44 41.3666 26.2211 40.5855L27.0279 39.7787Z' fill='%23E4E9E1'/%3E%3C/svg%3E%0A")
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
	opacity: .2;
	cursor: no-drop
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	left: 10px;
	right: auto
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	right: 10px;
	left: auto
}

.swiper-button-next.swiper-button-white, .swiper-button-prev.swiper-button-white {
	--swiper-navigation-color: #ffffff
}

.swiper-button-next.swiper-button-black, .swiper-button-prev.swiper-button-black {
	--swiper-navigation-color: #000000
}
.swiper-mai {
	min-height: 500px;
}
.swiper-nav {
	margin: 10px 0 0 0;
	z-index: 2;
	position: relative;
}
.swiper-button-lock {
	display: none
}
.catalog-product-slide-img {
    display: flex;
    margin: auto;
}
.swiper-pagination {
	position: absolute;
	text-align: center;
	transition: .3s opacity;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 0;
	bottom: -24px;
	width: auto !important;
	z-index: 1;
	left: 50%;
	display: flex
}

.swiper-pagination.swiper-pagination-hidden {
	opacity: 0
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 10px;
	left: 0;
	width: 100%
}

.swiper-pagination-bullets-dynamic {
	font-size: 0;
	display: flex;
	align-items: center;
	justify-content: center
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet:not(.swiper-pagination-bullet-active-main):not(.swiper-pagination-bullet-active-prev):not(.swiper-pagination-bullet-active-next) {
	display: none
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
	width: 35px;
	display: inline-block
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
	width: 21px;
	min-width: 21px;
	position: absolute;
	top: 0;
	right: calc(100% + 0px) !important;
	left: auto !important
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
	width: 11px;
	min-width: 11px
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
	width: 21px;
	min-width: 21px;
	position: absolute;
	top: 0;
	right: auto !important;
	left: calc(100% + 0px) !important
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
	width: 11px;
	min-width: 11px
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
	width: 35px;
	min-width: 35px;
	position: static
}

.swiper-pagination-bullet {
	width: 35px;
	height: 3px;
	background: #f4f7f2;
	border-radius: 20px;
	margin: 0 7px
}

button.swiper-pagination-bullet {
	border: none;
	margin: 0;
	padding: 0;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background: #6ba533
}

.swiper-container-vertical > .swiper-pagination-bullets {
	right: 10px;
	top: 50%;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 6px 0;
	display: block
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 8px
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	display: inline-block;
	transition: .2s top, .2s -webkit-transform;
	transition: .2s transform, .2s top;
	transition: .2s transform, .2s top, .2s -webkit-transform
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 4px
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	white-space: nowrap
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transition: .2s left, .2s -webkit-transform;
	transition: .2s transform, .2s left;
	transition: .2s transform, .2s left, .2s -webkit-transform
}

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transition: .2s right, .2s -webkit-transform;
	transition: .2s transform, .2s right;
	transition: .2s transform, .2s right, .2s -webkit-transform
}

.swiper-pagination-progressbar {
	background: rgba(0, 0, 0, .25);
	position: absolute
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: var(--swiper-pagination-color, var(--swiper-theme-color));
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: left top;
	transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	-webkit-transform-origin: right top;
	transform-origin: right top
}

.swiper-container-horizontal > .swiper-pagination-progressbar, .swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
	width: 100%;
	height: 4px;
	left: 0;
	top: 0
}

.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-container-vertical > .swiper-pagination-progressbar {
	width: 4px;
	height: 100%;
	left: 0;
	top: 0
}

.swiper-pagination-white {
	--swiper-pagination-color: #ffffff
}

.swiper-pagination-black {
	--swiper-pagination-color: #000000
}

.swiper-pagination-lock {
	display: none
}

.swiper-scrollbar {
	border-radius: 10px;
	position: relative;
	-ms-touch-action: none;
	background: rgba(0, 0, 0, .1)
}

.swiper-container-horizontal > .swiper-scrollbar {
	position: absolute;
	left: 1%;
	bottom: 3px;
	z-index: 50;
	height: 5px;
	width: 98%
}

.swiper-container-vertical > .swiper-scrollbar {
	position: absolute;
	right: 3px;
	top: 1%;
	z-index: 50;
	width: 5px;
	height: 98%
}

.swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(0, 0, 0, .5);
	border-radius: 10px;
	left: 0;
	top: 0
}

.swiper-scrollbar-cursor-drag {
	cursor: move
}

.swiper-scrollbar-lock {
	display: none
}

.swiper-zoom-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center
}

.swiper-zoom-container > canvas, .swiper-zoom-container > img, .swiper-zoom-container > svg {
	max-width: 100%;
	max-height: 100%;
	-o-object-fit: contain;
	object-fit: contain
}

.swiper-slide-zoomed {
	cursor: move
}

.swiper-lazy-preloader {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -21px;
	margin-top: -21px;
	z-index: 10;
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-animation: swiper-preloader-spin 1s infinite linear;
	animation: swiper-preloader-spin 1s infinite linear;
	box-sizing: border-box;
	border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
	border-radius: 50%;
	border-top-color: transparent
}

.swiper-lazy-preloader-white {
	--swiper-preloader-color: #fff
}

.swiper-lazy-preloader-black {
	--swiper-preloader-color: #000
}

@-webkit-keyframes swiper-preloader-spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes swiper-preloader-spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

.swiper-container .swiper-notification {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	z-index: -1000
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
	transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
	pointer-events: none;
	transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
	pointer-events: none
}

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
	pointer-events: auto
}

.swiper-container-cube {
	overflow: visible
}

.swiper-container-cube .swiper-slide {
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1;
	visibility: hidden;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	width: 100%;
	height: 100%
}

.swiper-container-cube .swiper-slide .swiper-slide {
	pointer-events: none
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active {
	pointer-events: auto
}

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev {
	pointer-events: auto;
	visibility: visible
}

.swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top {
	z-index: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.swiper-container-cube .swiper-cube-shadow {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .6;
	-webkit-filter: blur(50px);
	filter: blur(50px);
	z-index: 0
}

.swiper-container-flip {
	overflow: visible
}

.swiper-container-flip .swiper-slide {
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1
}

.swiper-container-flip .swiper-slide .swiper-slide {
	pointer-events: none
}

.swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
	pointer-events: auto
}

.swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top {
	z-index: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

@media (min-width: 768px) {
	.swiper-pagination-bullet {
		width: 50px;
		height: 5px;
		margin: 0 10px
	}
}

@media (min-width: 980px) {
	.swiper-thumbnail:hover:not(.swiper-slide-thumb-active) {
		border: 3px solid #d4e2e6;
	}
}