body.mob-filter-open {
  position: relative;
  overflow: hidden;
}
body.mob-filter-open:after {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  content: '';
  background: #0006;
}
.row_catalog {
  flex-wrap: nowrap;
}
.catalog__right {
  padding: 0 10px;
}
.catalog__banner {
  border: 1px solid #d4e2e6;
  background-color: #f8f9fd;
}
.catalog__banner-title {
  margin: 0 0 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
  font-size: 24px;
  font-weight: 300;
  line-height: 37px;
}
.catalog__banner-title span {
  color: #9c4115;
}
a.catalog__banner-detail {
  height: 36px;
  padding: 5px 15px;
  text-decoration: none;
  color: #35cc62;
  border: 1px solid #35cc62;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-size: 14px;
}
.catalog__banner-content {
  padding: 30px;
}
.catalog__banner-picture {
  width: 100%;
}
.catalog__left {
  width: 260px;
  min-width: 260px;
  padding: 10px 10px 0;
}
.product__params {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px;
}
.product__sort, .product__page {
  color: #8facbd;
  font-size: 16px;
  line-height: 36px;
}
.product__sort a {
  margin-left: 10px;
  color: #8facbd;
}
.product__changes {
  display: -ms-flexbox;
  display: flex;
  margin: -5px;
}
.product__change {
  padding: 5px;
}
a.product__change-link {
  position: relative;
  display: block;
  height: 36px;
  padding: 7px 15px 7px 30px;
  text-decoration: none;
  color: #333;
  border: 1px solid #d4e2e6;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-size: 14px;
}
.product__change-link::before {
  position: absolute;
  top: 7px;
  left: 12px;
  content: '\f00d';
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
}
.product__filter {
  width: 100%;
}
.filter__hide {
  position: absolute;
  top: 0;
  right: -40px;
  color: #9c4115;
  text-shadow: 0 0 10px #000;
  font-size: 30px;
}
.bx-filter .bx-filter-section {
  padding-top: 48px;
}
#CatalogElementBasket_bx_117848907_12495 {
  width: 500px;
}
.popup-window.popup-window-with-titlebar {
  padding: 20px;
}
.modal-content .form-group.modal-product .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content .form-group.modal-product .image img {
  max-height: 200px;
}
.popup-window-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup-window .popup-window-buttons .btn.btn-default {
  width: 48%;
  margin: 0 !important;
}


@media (min-width: 993px) {
  .catalog__left + .catalog__right {
    width: calc(100% - 260px);
  }
  .product__filter-btn, .mobile-filter-title, .close-mobile-filter {
    display: none;
  }
  .bx-filter.bx-custom .btn.btn-themes.button-mobile {
    display: none;
  }
}
@media (max-width: 992px) {
  .row_catalog {
    flex-wrap: wrap;
  }
  .catalog__left {
    position: fixed;
    z-index: 10000000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    transition: transform .3s;
    transform: translateX(-100%);
    background: #f9f9f9;
  }
  .catalog__left.active {
    transform: translateX(0);
  }
  .bx-filter.bx-custom {
    position: relative;
    width: 100%;
    padding: 0;
  }
  .bx-filter .bx-filter-section {
    height: 100%;
    max-height: 100vh;
    margin: 0 15px;
    padding-top: 0;
  }
  .bx-filter .bx-filter-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d4e2e6;
  }
  .bx-filter .bx-filter-title {
    display: none;
  }
  .bx-filter.bx-custom .smartfilter {
    overflow: auto;
    max-height: calc(100vh - 80px);
    padding: 0 15px 30px;
  }
  .bx-filter.bx-custom .bx-filter-button-box {
    width: 100%;
    height: 110px;
  }
  .bx-filter.bx-custom .bx-filter-button-box .bx-filter-block {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 90px;
    background: #f9f9f9;
    box-shadow: 0 0 12px 1px rgba(0,0,0, .2);
  }
  .bx-filter.bx-custom .btn.btn-themes.button-desctop {
    display: none;
  }
  .bx-filter.bx-custom .btn.btn-themes.button-mobile {
    width: 45%;
    padding: 10px;
    color: #fff;
    border: 1px solid #9c4115;
    background: #9c4115;
    font-size: 20px;
  }
  .bx-filter.bx-custom .btn.btn-link {
    width: 45%;
    padding: 10px;
    color: #000;
    border: 1px solid #c5ced6;
    background: #c5ced6;
    font-size: 20px;
  }
  .bx-custom .smartfilter .bx-filter-parameters-box {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #d4e2e6;
    border-left: none;
  }
  .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box .bx-filter-parameters-box-title {
    padding: 7px 0 10px;
    border-bottom: none !important;
    background: transparent;
    font-size: 20px;
  }
  .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box .bx-filter-parameters-box-title span {
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
  }
  .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box .bx-filter-block i.bx-ft-sub {
    font-size: 18px;
  }
  .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box-container {
    padding-top: 20px;
  }
  .bx-filter.bx-custom .bx-filter-parameters-box-title span {
    padding: 12px 7px;
    font-size: 18px;
  }
  .bx-filter.bx-custom .bx-filter-input-checkbox .bx-filter-param-text {
    font-size: 18px;
  }
  .bx-filter.bx-custom .bx-filter-parameters-box-container .checkbox + .checkbox {
    margin: 18px 0;
  }
  .bx-filter.bx-custom .bx-filter-input-checkbox input[type='checkbox']:before {
    width: 25px;
    height: 25px;
  }
  .bx-filter.bx-custom .bx-filter-input-checkbox input:checked:after {
    width: 25px;
    height: 25px;
    font-size: 18px;
  }
  .bx-filter.bx-custom .bx-ui-slider-part span {
    top: -21px;
    font-size: 18px;
  }
  .bx-filter.bx-custom .bx-ui-slider-part.p5 span {
    top: -21px;
    margin-left: -84px;
    font-size: 18px;
  }
  .bx-filter.bx-custom .bx-ui-slider-track {
    width: calc(100% - 8px);
  }
  .catalog__right {
    width: 100%;
    margin-top: 30px;
  }
  .product__changes {
    flex-wrap: wrap;
  }
  .product__filter-btn {
    width: 60px;
    height: 60px;
  }
  .mobile-filter-title {
    flex-grow: 1;
    margin: 15px 0;
    font-size: 28px;
    font-weight: 600;
  }
  .close-mobile-filter {
    font-size: 20px;
    font-weight: normal;
  }
  .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  /*.bx-filter.bx-custom .smartfilter .bx-filter-parameters-box .checkbox:nth-child(n+8) {*/
    /*display: none !important;*/
  /*}*/
  .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box .bx-filter-block {
    height: auto !important;
    max-height: 50vh;
  }
  .catalog-menu__link {
    margin-bottom: 20px;
    text-decoration: underline;
    color: #9c4115;
    font-size: 20px;
    line-height: 1;
  }
  .catalog-menu__link .link-hide {
    display: none;
  }
  .catalog-menu__link.active .link-show {
    display: none;
  }
  .catalog-menu__link.active .link-hide {
    display: block;
  }
  .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box.opened .checkbox:nth-child(n+8) {
    display: flex !important;
  }
  .bx-filter.bx-custom .smartfilter .bx-filter-button-box .bx-filter-block .bx-filter-parameters-box-container {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .bx-filter.bx-custom .smartfilter .range-inner-filter {
    flex-direction: row;
  }
  .popup-window-buttons {
    flex-direction: column;
  }
  .popup-window .popup-window-buttons .btn.btn-default {
    width: 100%;
    max-width: 400px;
    margin: 10px auto !important;
  }
}
@media (max-width: 575px) {
  .product__sort, .product__page {
    font-size: 20px;
    line-height: 1;
  }
  .bx-filter.bx-custom .smartfilter .bx-filter-input-checkbox .bx-filter-param-text {
    font-size: 22px;
  }
  .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box-container .checkbox:first-child, .bx-filter.bx-custom .smartfilter .bx-filter-parameters-box-container .checkbox + .checkbox {
    margin-bottom: 17px;
  }
}