.bam-ip .bam-ip-link {
  border-bottom: 1px dashed; }
  .bam-ip .bam-ip-link:hover {
    border-bottom: 1px none transparent; }

.bam-ip-confirm {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: 0 none;
  border-radius: 5px;
  min-width: 200px;
  margin-top: 15px;
  z-index: 1000; }
  .bam-ip-confirm .bam-ip-confirm-content {
    width: 100%;
    display: block;
    position: relative; }
    .bam-ip-confirm .bam-ip-confirm-content .bam-ip-confirm-content-arrow {
      display: block;
      position: absolute;
      width: 100%;
      height: 9px;
      top: -8px;
      background: url(images/arrow.png) center 0 no-repeat; }
    .bam-ip-confirm .bam-ip-confirm-content .bam-ip-confirm-title {
      padding: 15px 20px;
      border: 1px solid #cccccc;
      border-bottom: 0 none;
      border-radius: 5px 5px 0 0; }
      .bam-ip-confirm .bam-ip-confirm-content .bam-ip-confirm-title span {
        font-weight: normal;
        display: block;
        text-align: center; }
      .bam-ip-confirm .bam-ip-confirm-content .bam-ip-confirm-title p {
        text-align: center;
        margin: 0; }
    .bam-ip-confirm .bam-ip-confirm-content .bam-ip-confirm-buttons {
      display: block; }
      .bam-ip-confirm .bam-ip-confirm-content .bam-ip-confirm-buttons .bam-ip-confirm-button {
        display: inline-block;
        width: 50%;
        min-width: 70px;
        padding: 10px;
        background-color: #1485ce;
        background: linear-gradient(to bottom, #1485ce, #1485ce);
        color: #ffffff;
        text-align: center; }
        .bam-ip-confirm .bam-ip-confirm-content .bam-ip-confirm-buttons .bam-ip-confirm-button.bam-ip-confirm-button-no {
          border-radius: 0 0 0 5px;
          border-right: 1px solid #146fb0; }
        .bam-ip-confirm .bam-ip-confirm-content .bam-ip-confirm-buttons .bam-ip-confirm-button.bam-ip-confirm-button-yes {
          border-radius: 0 0 5px 0;
          border-left: 1px solid #1496e2; }
        .bam-ip-confirm .bam-ip-confirm-content .bam-ip-confirm-buttons .bam-ip-confirm-button:hover {
          background: linear-gradient(to top, #1496e2, #146fb0); }

.bam-ip-popup {
  display: none;
  position: absolute; }
  .bam-ip-popup .bam-ip-popup-window {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    z-index: 1800;
    position: fixed;
    max-width: 90%;
    max-height: 90%;
    width: 800px;
    height: 400px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    .bam-ip-popup .bam-ip-popup-window .bam-ip-popup-title {
      font-weight: bold;
      display: block;
      border-bottom: 1px dotted #cccccc;
      padding: 0 0 10px 0;
      margin: 0 0 10px 0;
      font-size: 16px;
      position: relative; }
      .bam-ip-popup .bam-ip-popup-window .bam-ip-popup-title h3 {
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: bold; }
      .bam-ip-popup .bam-ip-popup-window .bam-ip-popup-title .bam-ip-popup-close {
        background-image: url(images/close.svg);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 16px;
        height: 16px;
        background-size: contain; }
    .bam-ip-popup .bam-ip-popup-window .bam-ip-popup-content .bam-ip-popup-content-search {
      width: 100%;
      padding: 10px; }
    .bam-ip-popup .bam-ip-popup-window .bam-ip-popup-content .bam-ip-popup-content-list {
      display: block;
      overflow: auto;
      max-height: 100%;
      margin-top: 10px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      align-content: flex-start; }
      .bam-ip-popup .bam-ip-popup-window .bam-ip-popup-content .bam-ip-popup-content-list .bam-ip-popup-content-item {
        padding: 5px 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%; }
        @media (max-width: 991.98px) {
          .bam-ip-popup .bam-ip-popup-window .bam-ip-popup-content .bam-ip-popup-content-list .bam-ip-popup-content-item {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%; } }
        @media (max-width: 575.98px) {
          .bam-ip-popup .bam-ip-popup-window .bam-ip-popup-content .bam-ip-popup-content-list .bam-ip-popup-content-item {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%; } }
        .bam-ip-popup .bam-ip-popup-window .bam-ip-popup-content .bam-ip-popup-content-list .bam-ip-popup-content-item .bam-ip-popup-content-item-link span {
          display: block;
          font-size: 0.9em;
          color: #888888; }
        .bam-ip-popup .bam-ip-popup-window .bam-ip-popup-content .bam-ip-popup-content-list .bam-ip-popup-content-item .bam-ip-popup-content-item-link strong {
          color: #94002b; }
        .bam-ip-popup .bam-ip-popup-window .bam-ip-popup-content .bam-ip-popup-content-list .bam-ip-popup-content-item .bam-ip-popup-content-item-link.bam-ip-popup-content-item-link-current {
          font-weight: bold; }

.bam-ip-popupbg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #777777;
  opacity: 0.7;
  z-index: 1000; }

/*# sourceMappingURL=style.css.map */
