.product-list-bg{
    position: relative;
}
.product-list-bg .container {
    position: relative;
    z-index: 1;
}
.product-list-bg:before{
    content: '';
    position: absolute;
    top: 0;
    /*height: calc(100% - 111px);*/
    height: 100%;
    left: 0;
    width: 100%;
    background: url(/local/templates/letabouret/css/../images/bg-gray.png) repeat;
}
.product-list__inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 24px);
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 20px;
}

.product-list .product__card {
    max-width: 340px;
    width: calc(25% - 24px);
    margin: 12px;
}
.product-list__button {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.product-list__inner .product__item {
    padding: 0;
}
.btn.btn-show-more {
    background-color: #d4e2e6;
    border: 1px solid #d4e2e6;
    color: #495057;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    min-width: 135px;
    height: 36px;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 8px 20px;
    transition: box-shadow .3s;
}
.btn.btn-show-more:hover {
    color: #495057;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1) !important;
}

@media (max-width: 1200px) {
    .product-list .product__card {
        width: calc(33.3% - 24px);
    }
}
@media (max-width: 767px) {
    .product-list .product__card {
        width: calc(50% - 24px);
    }
}