
@font-face {
  font-family: 'ProximaNova';
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: url('/local/templates/letabouret/css/../fonts/ProximaNova-Regular.eot');
  src: url('/local/templates/letabouret/css/../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/letabouret/css/../fonts/ProximaNova-Regular.woff') format('woff'),
  url('/local/templates/letabouret/css/../fonts/ProximaNova-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: url('/local/templates/letabouret/css/../fonts/ProximaNova-Bold.eot');
  src: url('/local/templates/letabouret/css/../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/letabouret/css/../fonts/ProximaNova-Bold.woff') format('woff'),
  url('/local/templates/letabouret/css/../fonts/ProximaNova-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 600;
  font-style: normal;

  font-display: swap;
  src: url('/local/templates/letabouret/css/../fonts/ProximaNova-Semibold.eot');
  src: url('/local/templates/letabouret/css/../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/letabouret/css/../fonts/ProximaNova-Semibold.woff') format('woff'),
  url('/local/templates/letabouret/css/../fonts/ProximaNova-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 300;
  font-style: normal;

  font-display: swap;
  src: url('/local/templates/letabouret/css/../fonts/ProximaNova-Light.eot');
  src: url('/local/templates/letabouret/css/../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/letabouret/css/../fonts/ProximaNova-Light.woff') format('woff'),
  url('/local/templates/letabouret/css/../fonts/ProximaNova-Light.ttf') format('truetype');
}
button, a {
  color: inherit;
  outline: none !important;
  box-shadow: none !important;
}
a:hover {
  text-decoration: underline;
  color: #9c4115;
}
.h1 {
  margin: 0 0 20px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
img {
  max-width: 100%;
}
body {
  color: #000;
  font-family: 'ProximaNova';
  font-size: 16px;
  font-weight: 400;
}
.section-bg {
  padding: 15px 0;
  background: url(/local/templates/letabouret/css/../images/bg.png) repeat;
}
.section-bg_gray {
  background: url(/local/templates/letabouret/css/../images/bg-gray.png) repeat;
}
a.link-more {
  color: #8facbd;
  font-size: 16px;
}
.h2 {
  margin: 0 0 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}
.h2_p {
  margin: 0;
  padding: 2rem 0;
}
.header .nav {
  padding: 10px 0;
}
.header .nav-item .nav-link {
  padding: .5rem .5rem;
  color: #638ea7;
  font-size: 14px;
}
.header .nav-item .nav-link:hover {
  text-decoration: underline;
}
.header__logo {
  padding: 20px 0 0;
  text-align: center;
}
.nav_service .far {
  position: relative;
  margin-right: 15px;
  vertical-align: middle;
  font-size: 18px;
}
.nav_service .nav-link-text {
  vertical-align: middle;
}
.header__search {
  max-width: 650px;
}
.form-control::-webkit-input-placeholder {
  color: #68878f;
}
.form-control::-moz-placeholder {
  color: #68878f;
}
.form-control:-ms-input-placeholder {
  color: #68878f;
}
.form-control:-moz-placeholder {
  color: #68878f;
}
.header__search .form-control::-webkit-input-placeholder {
  color: #8facbd;
}
.form .form-control {
  height: 50px;
  color: #333;
  border: 1px solid #d4e2e6;
  border-right: 0;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
  font-size: 12px;
}
.form .btn-outline-secondary {
  color: #8facbd;
  border: 1px solid #d4e2e6;
  border-left: 0;
  border-radius: 0;
  outline: 0;
  background: #fff;
  box-shadow: none;
}
.label-counter {
  position: absolute;
  top: -10px;
  right: -10px;
  min-width: 15px;
  height: 15px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  background-color: #f00;
  font-size: 8px;
  font-weight: 700;
  line-height: 15px;
}
.navbar_catalog .nav-tabs {
  flex-wrap: nowrap;
}
.header__contacts {
  color: #000;
  font-size: 12px;
  line-height: 1.3;
}
.header__contacts a {
  color: #9c4115;
  font-size: 16px;
  font-weight: 700;
}
.navbar_catalog .nav-link, .dropdown-item {
  color: #000;
  font-size: 16px;
}
.navbar_catalog .nav-link:hover, .navbar_catalog .show > .nav-link, .navbar_catalog .nav-link.active, .dropdown-item:hover {
  color: #9c4115;
}
.navbar_catalog .dropdown-toggle::after {
  display: none;
}
.navbar_catalog .nav-link .far {
  margin-top: 2px;
  margin-left: 10px;
  vertical-align: middle;
}
.navbar_catalog .navbar-nav > .nav-item > .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
  white-space: nowrap;
}
.navbar_catalog .nav-tabs {
  padding: 1rem 1.5rem;
  border: 0;
}
.navbar_catalog .nav-tabs .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  border: 0;
  font-size: 14px;
}
.navbar_catalog .nav-tabs .nav-link:hover {
  text-decoration: underline;
}
.navbar_catalog .dropdown-item {
  padding: .25rem 2rem;
}
.navbar_catalog .dropdown-item img {
  width: 35px;
  margin-right: 1rem;
}
.navbar_catalog .tab-content {
  padding-bottom: 1.5rem;
}
.banner {
  position: relative;
  height: 630px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.banner__link {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none; /*gubarev*/
  display: -ms-flexbox;
  width: 300px;
  height: 50px;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fffefe;
  background-color: #000;
  font-size: 16px;
}
.banner__link i {
  margin-left: 20px;
  font-size: 22px;
}
.banner__link:hover {
  opacity: .8;
  text-decoration: none;
  color: #fffefe;
}
.banner__tooltip {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 25px;
  background-color: #000;
  font-size: 20px;
  line-height: 1;
}
.banner__tooltip:hover {
  text-decoration: none;
  color: white;
}
.banner .tooltip {
  margin-left: 1.5rem;
}
.banner .tooltip .tooltip-inner {
  padding: 1rem 1.5rem;
  text-align: left;
  color: #171717;
  background-color: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, .1);
  font-size: 16px;
}
.banner .tooltip-inner div {
  font-weight: 600;
}
.banner .tooltip .arrow {
  width: .6rem;
  height: 1.6rem;
}
.banner .tooltip .arrow::before {
  border-width: .8rem .8rem .8rem 0;
  border-right-color: white;
}
.collections__name {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}
.collections__name::after {
  display: block;
  width: 50px;
  height: 3px;
  margin: 30px 0;
  content: '';
  background-color: #9c4115;
}
.collections__text {
  font-size: 16px;
  line-height: 21px;
}
.collections__item {
  height: 290px;
  margin: 0 0 20px;
}
.collections__picture img {
  height: 100%;
  object-fit: cover;
}
.collections__picture {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.collections__card {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 100%;
}
.collections__description {
  position: relative;
  height: 100%;
  padding: 20px;
  color: #000;
  border: 1px solid #d4e2e6;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, .08);
}
.collections__card_l .collections__description, .collections__card_r .collections__picture, .collections__card_ltb .collections__description {
  order: 2;
  width: 100%;
  text-align: right;
}
.collections__card_l .collections__picture, .collections__card_r .collections__description, .collections__card_ltb .collections__picture {
  width: 290px;
  min-width: 290px;
}
.collections__card_r .collections__description, .collections__content {
  display: inline-block;
  max-width: 350px;
  text-align: left;
}
.collections__card_ltb .collections__content {
  max-width: 100%;
}
.collections__item_large {
  height: 600px;
}
.collections__item_large .collections__name {
  color: black;
}
.collections__card_bg {
  position: relative;
}
.collections__card_bg::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  /* background: rgba(0, 0, 0, 0.4);*/
}
.collections__card_bg .collections__description {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  color: #fff;
  border: 0;
  background: 0;
  box-shadow: none;
}
.collections__card_bg .collections__content {
  max-width: 100%;
}
.collections__detail {
  position: absolute;
  bottom: 20px;
  display: none;
  color: #8facbd;
  font-size: 14px;
}
.collections__item:hover .collections__detail {
  display: block;
}
.h2 span {
  font-weight: 300;
}
.product_offset {
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  padding-left: 100px;
}
.nav-left {
  min-width: 260px;
  padding: 0;
  list-style: none;
}
.nav-left__link {
  display: inline-block;
  padding: .5rem 1rem;
  text-transform: uppercase;
  color: #000;
  border: 1px solid transparent;
  font-size: 16px;
}
.nav-left__link:hover {
  text-decoration: none;
  color: #000;
  border: 1px solid #d4e2e6;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, .08);
}
.row-10 {
  margin-right: -10px;
  margin-left: -10px;
}
.row-10 .col {
  padding-right: 10px;
  padding-left: 10px;
}
.product__items {
  width: 100%;
}
.product__item {
  padding: 10px 0;
}
.product__card {
  display: flex;
  flex-wrap: wrap;
}
/* gubarev */
.product__picture {
  position: relative;
  width: 100%;
  background: white;
}
.product__picture img {
  display: block;
  height: 250px;
  margin: 0 auto;
  background: white;
  object-fit: contain;
}
.product__content {
  padding: 1rem;
}
.product__title {
  display: block;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 24px;
}
.product__title:hover {
  text-decoration: none;
}
.product__brand {
  display: none; /* gubarev */
  color: #9c4115;
}
.product__name {
  overflow: hidden;
  max-height: 52px;
  color: #000;
}
.product__query {
  color: #000;
  font-size: 16px;
  line-height: 24px;
}
.product__query:hover {
  color: #000;
}
.product__query-price {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding-top: 3px;
  color: #fff;
  border-radius: 16px;
  background-color: #d4e2e6;
  font-size: 16px;
  font-weight: 700;
}
.special-product__picture {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 305px;
  background: #fff;
}
.special-product__picture img {
  width: 100%;
  max-height: 305px;
  object-fit: contain;
}
.special-product__content {
  padding: 15px;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}
.special-product__title {
  min-height: 48px;
}
.special-product__title, .special-product__title:hover {
  color: #000;
}
.special-product__price {
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.special-product__price .price-old {
  margin: 0 8px 0 0;
}
.special-product__price .price {}
.special-product__price .price-old + .price {
  color: #f00;
}
.special-product__price .price-old--hidden {
  height: 16px;
  opacity: 0;
  visibility: hidden;
  width: 0;
}
.special-product__price .price-old--hidden + .price {
  color: #000;
}

.special-product {
  padding: 10px 0;
}
a.special-product__add {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 2px 0 0 1px;
  text-decoration: none;
  color: white;
  border-radius: 16px;
  background-color: #d4e2e6;
  font-size: 16px;
  line-height: 1;
}
.price-old {
  display: block;
  text-decoration: line-through;
  font-size: 14px;
}
.price-new {
  display: block;
  color: #f00;
  font-size: 18px;
  font-weight: 600;
}
.special-product__hint p {
  width: 100%;
  margin: 0 0 15px;
}
.special-product__hint .price-old, .special-product__hint .price-new {
  width: 100%;
}
.special-product__hint {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  transition: .3s;
  color: #000;
  background: rgba(255, 255, 255, .6);
  font-size: 16px;
  line-height: 24px;
}
.special-product__item:hover .special-product__hint {
  opacity: 1;
}
.main-contacts__map {
  width: 55%;
  height: 100%;
}
.section_contacts {
  position: relative;
  padding: 0;
}
.main-contacts {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}
.main-contacts__item p {
  margin: 0 0 10px;
}
.main-contacts__item h4 {
  margin: 0 0 10px;
  font-size: 18px;
}
.main-contacts__item a {
  display: block;
  color: #8facbd;
}
.main-delimiter {
  width: 50px;
  height: 3px;
  margin: 20px 0;
  background-color: #9c4115;
}
.main-contacts__content {
  position: relative;
  z-index: 1;
  max-width: 475px;
  padding: 10px 0;
}
.section_pad {
  padding: 50px 0;
}
.section_pad_b {
  padding-bottom: 50px;
}
.main-news__date {
  color: #000;
  font-size: 14px;
  font-weight: 300;
}
.main-news__name {
  display: block;
  margin: 0 0 20px;
  color: #000;
  font-size: 24px;
  line-height: 37px;
}
.main-news__text {
  color: #000;
  font-size: 14px;
  font-weight: 300;
}
.main-news__text p {
  margin: 0 0 15px;
}
.main-news__nav {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.main-news__nav a {
  color: #000;
  font-size: 20px;
}
.main-news {
  margin-top: 20px;
}
.footer__logo {
  max-width: 235px;
  text-align: center;
}
.footer__text {
  margin-top: 15px;
  color: #000;
  font-size: 12px;
}
.footer__line {
  height: 1px;
  margin: 0 0 40px;
  background-color: #9c4115;
}
.footer__title {
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
}
.footer__payment {

}
.footer__nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__link {
  color: #000;
  font-size: 16px;
  line-height: 30px;
}
.footer p {
  margin: 0 0 15px;
}
.social {
  display: -ms-flexbox;
  display: flex;
  margin: 20px -4px;
  padding: 0;
  list-style: none;
}
a.social__link {
  text-decoration: none;
}
.social__item {
  padding: 0 4px;
}
.footer__items {
  padding-right: 100px;
}
.owl-theme .col {
  max-width: 100%;
}
.row.owl-theme {
  margin-right: 0;
  margin-left: 0;
}
.owl-product-items .owl-nav {
  position: absolute;
  top: -57px;
  right: 50px;
}
.owl-product-items .owl-nav button.owl-prev, .owl-product-items .owl-nav button.owl-next {
  margin: 0 20px;
  font-size: 20px;
}
.text p {
  text-align: justify;
  font-size: 14px;
}
.breadcrumb {
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
  color: #8facbd;
  border: 0;
  background: 0;
  font-size: 16px;
}
.form-group.error input, .form-group input.error {
  border: 1px solid red!important;
}
.breadcrumb-item + .breadcrumb-item::before {
  font-size: 16px;
}
.breadcrumb-item + .breadcrumb-item {
  padding-right: .5rem;
  padding-left: 0;
}
.breadcrumb-item:first-child {
  padding-right: .5rem;
}
.breadcrumb .breadcrumb-item {
  margin-bottom: 5px;
  vertical-align: bottom;
  line-height: 16px;
}
.breadcrumb .breadcrumb-item.active {
  color: #000;
  font-size: 16px;
}
.collection-list__title {
  display: inline-block;
  opacity: 1;
  padding: 11px 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  border: 1px solid #d4e2e6;
  border-radius: 24px;
  background-color: #f8f9fddb;
  font-size: 16px;
}
.collection-list__title:hover {
  background-color: #ffd0ba;
}
.collection-list__content {
  position: absolute;
  top: 70%;
  right: 0;
  bottom: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.collection-list__card {
  position: relative;
}
.collection-list__card img {
  width: 100%;
  height: 260px;
  border: 1px solid #c6c6c6;
  background: white;
  object-fit: contain;
}
.collection-list__item {
  margin-bottom: 20px;
}
.section_border {
  border-top: 1px solid #d4e2e6;
  border-bottom: 1px solid #d4e2e6;
}
.section_border .h2_p {
  padding: 1rem 0;
  text-align: right;
}
.owl-country-items {
  padding: 0 10px 0 50px;
}
.owl-country-items .owl-item img {
  display: inline-block;
  width: auto;
  margin-right: 10px;
  vertical-align: middle;
}
.country__item {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.owl-country-items .owl-nav button.owl-next, .owl-country-items .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  font-size: 24px;
}
.owl-country-items .owl-nav button.owl-prev {
  left: 0;
}
.filter__item {
  margin: 0 0 10px;
}
.filter__dropdown .btn-select {
  position: relative;
  width: 100%;
  height: 48px;
  padding: 6px 15px;
  cursor: pointer;
  text-align: left;
  color: #8facbd;
  border: 1px solid #d4e2e6;
  border-radius: 0px;
  background-color: transparent;
  font-size: 16px;
}
.filter__dropdown .btn-select.selected {
  color: #000;
}
.filter__dropdown .btn-select::after {
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  margin-top: -12px;
  content: '\f107';
  color: #8facbd;
  font-family: 'Font Awesome 5 Pro';
  font-size: 18px;
}
.filter__dropdown .dropdown-menu-select {
  width: 100%;
  border-radius: 0;
}
.filter__dropdown .dropdown-radio {
  display: block;
  margin: 0;
}
.filter__dropdown .dropdown-text {
  display: block;
  margin: 0;
  padding: 5px 15px;
  cursor: pointer;
  color: #000;
  font-size: 16px;
}
.filter__dropdown .dropdown-text:hover, .filter__dropdown input:checked + .dropdown-text {
  background-color: #f8f9fa;
}
.filter__dropdown .dropdown-radio input {
  display: none;
}
.filter__group {
  margin-top: 30px;
}
.filter__group .filter__item {
  margin: 0;
}
.filter__group .filter__item + .filter__item {
  margin-top: -1px;
}
.filter__title {
  height: 48px;
  padding: 11px 15px;
  color: #000;
  border: 1px solid #d4e2e6;
  font-size: 16px;
}
.filter__control {
  position: relative;
  display: block;
  padding: 5px 15px 5px 45px;
}
.filter__values {
  overflow-y: auto;
  max-height: 400px;
  padding: 10px 0;
  border: 1px solid #d4e2e6;
  border-top: 0;
}
.filter__radio, .filter__checkbox {
  margin: 0;
  cursor: pointer;
  color: #333;
  font-size: 16px;
}
.filter__radio-input, .filter__checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.filter__radio::before {
  position: absolute;
  top: 7px;
  left: 15px;
  display: block;
  width: 20px;
  height: 20px;
  content: '';
  border: 1px solid #d4e2e6;
  border-radius: 10px;
}
.filter__control input:checked + .filter__radio::before {
  border: 1px solid #9c4115;
}
.filter__control input:checked + .filter__radio::after {
  position: absolute;
  top: 12px;
  left: 20px;
  display: block;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 5px;
  background-color: #9c4115;
}
.filter__checkbox::before {
  position: absolute;
  top: 7px;
  left: 15px;
  display: block;
  width: 20px;
  height: 20px;
  content: '';
  border: 1px solid #d4e2e6;
  border-radius: 0px;
}
.filter__control input:checked + .filter__checkbox::before {
  border: 1px solid #9c4115;
}
.filter__control input:checked + .filter__checkbox::after {
  position: absolute;
  top: 6px;
  left: 19px;
  display: block;
  content: '\f00c';
  color: #9c4115;
  font-family: 'Font Awesome 5 Pro';
  font-size: 14px;
  font-weight: 400;
}
.product__picture {
  position: relative;
  width: 100%;
}
.product__tags {
  margin: 0 0 5px;
  color: #8facbd;
  font-size: 14px;
  line-height: 24px;
}
.product__labels {
  position: absolute;
  top: 10px;
  left: 10px;
}
.product__label {
  display: inline-block;
  height: 30px;
  margin: 5px;
  padding: 5px 10px;
  letter-spacing: 1px;
  color: #fff;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 700;
}
.product__label_sale {
  background-color: #f00;
}
.product__label_new {
  background-color: #35cc62;
}
.product__card {
  transition: .3s;
  border: 1px solid transparent;
}
.product__card:hover {
  border: 1px solid #d4e2e6;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, .08);
}
.product__price {
  color: #000;
  font-size: 16px;
  line-height: 1;
}
.pagination {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  border: 0;
}
.page-link {
  width: 48px;
  height: 48px;
  padding: 0;
  text-align: center;
  color: #000;
  border: 1px solid #d4e2e6;
  border-radius: 24px !important;
  background-color: transparent;
  font-size: 14px;
  line-height: 48px;
}
span.page-link {
  pointer-events: none;
  color: #d4e2e6;
}
.page-link_prev, .page-link_next {
  color: #000 !important;
  border-color: transparent !important;
  background: 0 !important;
  font-size: 24px;
}
.page-item {
  padding: 5px;
}
.page-link:hover {
  color: #fff;
  background-color: #9c4115;
}
.element__article {
  color: #8facbd;
  font-size: 14px;
  line-height: 24px;
}
@media (max-width: 992px) {
  .element__article {
    display: none;
  }
}
.element .catalog__right {
  overflow: hidden;
}
.element .thumb-gallery-thumbs {
  margin-top: -20px;
}
.element__prop {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin: 0 0 10px;
}
.element__name {
  min-width: 102px;
  min-height: 36px;
  padding: 10px 12px;
  text-align: center;
  letter-spacing: 1px;
  color: #8facbd;
  border: 1px solid #d4e2e6;
  border-radius: 4px;
  font-size: 14px;
  line-height: 14px;
}
.element__value {
  padding-left: 15px;
  color: #000;
  font-size: 14px;
  line-height: 14px;
}
.element__data {
  padding-top: 10px;
}
.element__tags {
  margin: 10px 0 20px;
  color: #8facbd;
  font-size: 16px;
}
.element__action {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 5px 12px;
  border: 1px solid #d4e2e6;
  border-radius: 4px;
}
.element__action .btn.btn-link, .element__action .btn {
  overflow: hidden;
  color: #fff !important;
  border: 1px solid #9c4115;
  border-radius: 4px;
  background: #9c4115;
}
.element__action .btn i {
  background: #9c4115 !important;
}
.catalog__right .element__action .btn i {
  background: #fff !important;
  color: #9c4115 !important;
}
.catalog__right .element__action .btn {
  border-color: #9c4115 !important;
}
@media (min-width: 992px) and (max-width: 1479px) {
  #delivery .element__prop {
    /*align-items: stretch;*/
  }
  #delivery  .element__prop .element__name {
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 575px) {
  #delivery  .element__prop {
    /*align-items: stretch;*/
  }
  #delivery  .element__prop .element__name {
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .element__action .btn.btn-link, .element__action .btn {
    padding: 8px 14px 8px 47px;
  }
}
.element__action .product__query {
  margin-left: 15px;
}
.element__link-price {
  display: block;
  color: #8facbd;
  font-size: 14px;
  line-height: 1;
}
.element__caption {
  margin: 20px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  font-size: 18px;
}
.element p {
  color: #000;
  font-size: 14px;
  line-height: 24px;
}
.element__tabs-nav {
  margin: 0 -10px;
  border: 0;
  background: 0;
}
.element__tabs-nav .nav-item {
  padding: 10px 10px;
}
@media(max-width: 768px){
	.element__tabs-nav .nav-item{
		padding: 10px 3px;
	}
}
.element__tabs-nav .nav-link {
  /*min-width: 135px;*/
  min-width: 10px;
  height: 36px;
  padding: 8px 15px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  border: 1px solid #d4e2e6;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-size: 14px;
}
.element__tabs-nav .nav-link:hover, .element__tabs-nav .nav-link.active {
  border: 1px solid #d4e2e6;
  background-color: #d4e2e6;
}
.element__tabs-content {
  padding-top: 20px;
}
.review__title {
  margin: 0 0 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  font-size: 18px;
}
.review__name {
  margin: 0 0 10px;
  color: #8facbd;
  font-size: 16px;
}
.review__text {
  margin: 0 0 10px;
  color: #000;
  font-size: 14px;
}
.review__stars {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin: 0 -1px;
  color: #d4e2e6;
}
.review__stars .active {
  color: #f95318;
}
.review__stars i {
  margin: 0 1px;
}
.element {
  padding-bottom: 50px;
}
.thumb-gallery {
  margin: 0 0 30px;
}
.list {
  margin: 0 0 30px;
}
.list__item {
  display: -ms-flexbox;
  display: flex;
  align-content: center;
  align-items: center;
  margin: 0 -10px 20px;
  color: #000;
}
.list__picture {
  width: 120px;
  min-width: 120px;
  padding: 0 10px;
}
.list__picture img {
  min-height: 100px;
  object-fit: cover;
}
.list__content {
  padding: 0 10px;
}
.list__title {
  display: block;
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: 700;
}
.list__text {
  font-size: 14px;
}
.special-product__caption {
  display: block;
  text-align: center;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}
.news__title {
  margin: 0 0 15px;
  color: #000;
  font-size: 18px;
}
.news__text {
  margin: 0 0 25px;
  color: #000;
  font-size: 14px;
}
.news__detail {
  color: #8facbd;
  font-size: 16px;
}
.news__content {
  position: relative;
  height: 100%;
  padding-bottom: 40px;
}
.news__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin: 0 -10px;
}
.news__counter {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #8facbd;
  font-size: 14px;
}
.news__counter i {
  margin-right: 5px;
  font-size: 18px;
}
.news__item {
  margin: 0 0 30px;
}
.news__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form-control, .basket .form-control {
  height: 48px;
  border: 1px solid #d4e2e6;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
}
textarea.form-control, .basket textarea.form-control {
  height: 138px;
  resize: none;
}
.basket__name {
  display: block;
  color: #000;
  font-size: 16px;
  line-height: 18px;
}
.basket__props {
  color: #8facbd;
  font-size: 14px;
}
.qty {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 125px;
  height: 48px;
  border: 1px solid #d4e2e6;
  border-radius: 24px;
  line-height: 48px;
}
.qty input {
  width: 55px;
  padding: 0;
  text-align: center;
  color: #000;
  border: 0;
  background: 0;
  font-size: 16px;
  font-weight: 700;
}
.qty a {
  display: block;
  width: 55px;
  text-align: center;
}
.basket__table {
  width: 100%;
  border: 1px solid #d4e2e6;
}
.basket__table td {
  padding: 10px 5px;
  vertical-align: middle;
}
.basket__table td .qty {
  width: 100px;
}
.basket__table td.custom {
  width: 120px;
}
.basket__td_picture {
  width: 90px;
}
.basket__delete {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  text-decoration: none !important;
  color: #f00;
  border: 1px solid #d4e2e6;
  border-radius: 10px;
  background-color: #f8f8f8;
  font-size: 11px;
}
.basket__price {
  white-space: nowrap;
  color: #000;
  font-size: 16px;
}
.basket__price.old_price {
  text-decoration: line-through;
  color: #8facbd;
  font-size: 14px;
}
.basket__picture {
  width: 120px;
}
.form-group_filter {
  margin-left: -15px;
}
.filter__radio a {
  color: #1f5dea;
}
.basket__result {
  margin: 20px 0;
  text-align: right;
  letter-spacing: 1px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.basket__result span {
  font-weight: 400;
}
.basket__button {
  display: inline-block;
  width: 339px;
  height: 48px;
  cursor: pointer;
  text-align: center;
  text-decoration: none !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff !important;
  border: 0;
  border-radius: 24px;
  background-color: #35cc62;
  box-shadow: 0px 8px 16px rgba(0, 153, 46, .25);
  font-size: 16px;
  line-height: 48px;
}
.basket__order {
  text-align: center;
}
[id^='wait_'] {
  position: fixed !important;
  z-index: 9999999 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  display: none;
  opacity: .95 !important;
  -webkit-box-sizing: content-box !important;
     -moz-box-sizing: content-box !important;
          box-sizing: content-box !important;
  width: 5.8rem !important;
  height: 1.5rem !important;
  margin-top: auto !important;
  margin-right: auto !important;
  margin-bottom: auto !important;
  margin-left: auto !important;
  padding-top: 4.8rem !important;
  padding-right: 0 !important;
  padding-bottom: .75rem !important;
  padding-left: 0 !important;
  cursor: progress;
  text-align: center !important;
  text-transform: lowercase;
  color: #fff !important;
  border: 0 !important;
  -webkit-border-radius: .15rem;
          border-radius: .15rem;
  outline: 2000px solid rgba(0, 0, 0, .2);
  background: #5d5d5d !important;
  -webkit-box-shadow: 0 .25rem 1.25rem rgba(0, 0, 0, .3) !important;
          box-shadow: 0 .25rem 1.25rem rgba(0, 0, 0, .3) !important;
  font: inherit !important;
  font-size: .8rem !important;
  font-weight: 300 !important;
  line-height: 1.5rem !important;
}
[id^='wait_'][style] {
  display: block;
}
[id^='wait_']:before {
  position: absolute;
  top: .5rem;
  right: 0;
  left: 0;
  display: block;
  width: 4rem;
  height: 4rem;
  margin: auto;
  content: '';
  background: url('/local/templates/letabouret/css/../images/bx-preloader-64.gif') center no-repeat;
}
/*FIX*/
.special-product__picture img {
  height: 305px;
}
.nav-left {
  min-width: 275px;
}
.product__items_simple .product__tags {
  display: none;
}
.product__items_simple .product__about {
  overflow: hidden;
  height: 85px;
}
.filter__item {
  position: relative;
}
.bx-filter-container-modef .bx-filter-popup-result {
  position: absolute;
  z-index: 10;
  left: 100%;
  display: none;
  margin-left: 10px;
  padding: .5rem 1rem;
  white-space: nowrap;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.filter__submit {
  padding: 20px 0 0;
}
.btn-link {
  color: #9c4115 !important;
}
.filter__submit_hide {
  padding: 0;
}
.filter__submit_hide input {
  display: none !important;
}
.review__items .owl-nav {
  position: absolute;
  top: -43px;
  right: 30px;
}
.review__items .owl-nav button.owl-prev, .review__items .owl-nav button.owl-next {
  margin: 0 5px;
}
.filter .filter__control.disabled, .filter .dropdown-radio.disabled {
  display: none;
}
.bx-soa-section {
  margin: 0 !important;
  padding: 0 !important;
  transition: none !important;
  border: 0 !important;
  border-radius: 0 !important;
  background: 0 !important;
}
.bx-soa-section-title-container {
  overflow: hidden;
  padding: 0 !important;
  background: 0 !important;
  font-size: inherit !important;
}
.bx-soa-section-content {
  padding: 0 !important;
  transition: none !important;
}
.bx-soa-custom-label, .bx-soa-customer-label, .bx-soa-more, .bx-soa-pp-company-image, .bx-soa-pp-delivery-cost, input[type=checkbox].bx-soa-pp-company-checkbox {
  display: none !important;
}
.bx-soa-tooltip .tooltip-inner {
  max-width: 100% !important;
}
.basket .bx-soa-pp-company-graf-container {
  position: absolute;
  top: 7px;
  left: 0px;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 1px solid #d4e2e6;
  border-radius: 10px;
  background: transparent;
}
.basket .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container {
  border: 1px solid #9c4115;
}
.basket .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container::after {
  position: absolute;
  top: 4px;
  left: 4px;
  display: block;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 5px;
  background-color: #9c4115;
}
.basket .bx-soa-pp .bx-soa-pp-company {
  position: relative;
  display: block;
  padding: 5px 15px 5px 30px;
}
.basket .bx-soa-pp .bx-soa-pp-company-smalltitle {
  padding: 0;
  cursor: pointer;
  text-align: left;
  color: #333;
  font-size: 16px;
}
.main-user-consent-request input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.basket .main-user-consent-request {
  position: relative;
  display: block;
  margin-top: 25px;
  padding: 5px 0 5px 30px;
}
.basket .main-user-consent-request input + span::before {
  position: absolute;
  top: 1px;
  left: 2px;
  display: block;
  width: 20px;
  height: 20px;
  content: '';
  border: 1px solid #d4e2e6;
  border-radius: 0px;
}
.basket .main-user-consent-request input:checked + span::before {
  border: 1px solid #9c4115;
}
.basket .main-user-consent-request input:checked + span::after {
  position: absolute;
  top: 6px;
  left: 6px;
  display: block;
  content: '\f00c';
  color: #9c4115;
  font-family: 'Font Awesome 5 Pro';
  font-size: 14px;
  font-weight: 400;
}
.basket .main-user-consent-request a {
  margin: 0;
  cursor: pointer;
  color: #333;
  font-size: 16px;
  font-weight: 400;
}
.main-user-consent-request a::before {
  position: absolute;
  top: 2px;
  left: 0px;
  display: block;
  width: 20px;
  height: 20px;
  content: '';
  border: 1px solid #d4e2e6;
}
.main-user-consent-request input:checked + a::before {
  border: 1px solid #9c4115;
}
.main-user-consent-request input:checked + a::after {
  position: absolute;
  top: 5px;
  left: 4px;
  display: block;
  content: '\f00c';
  color: #9c4115;
  font-family: 'Font Awesome 5 Pro';
  font-size: 14px;
  font-weight: 400;
}
.bx-soa-cart-total {
  padding: 0 !important;
  transition: none !important;
  border: 0 !important;
  border-radius: 0 !important;
}
.bx-soa-cart-total-line {
  display: none;
}
.bx-soa-cart-total-line.bx-soa-cart-total-line-total {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 1rem 0 0 0;
  padding: 0 !important;
  border: 0 !important;
  font-size: 24px !important;
}
.bx-soa-cart-total-line .bx-soa-cart-d {
  float: none;
  margin-left: 10px;
  font-size: 24px !important;
  font-weight: 700 !important;
}
.bx-soa-cart-total-line .bx-soa-cart-t {
  float: none;
}
.thumb-gallery-thumbs .owl-item img {
  width: 100%;
  height: 110px;
  border: 3px solid white;
  object-fit: cover;
}
.bx-soa-pp-company-smalltitle a {
  color: #1f5dea;
}
/*additional*/
.how-to-buy-item-8 li span:before {
  display: block;
  margin: 0 0 -20px -12px;
  content: '\2022';
  font-size: 20px;
}
.super-block ul li:before {
  display: block;
  margin: 0 0 -20px -12px;
  content: '\2022';
  font-size: 20px;
}
.super-block p.subt {
  display: inline-block;
  margin-top: 10px;
}
.htb-step {
  margin-top: 0 !important;
}
.element__action .btn + .btn {
  margin-left: 10px;
}
.element__action {
  border: 0;
}
.element__action .btn {
  position: relative;
  display: block;
  width: 100%;
  padding-left: 45px;
  text-align: left;
  border: 1px solid #d4e2e6;
  border-radius: 4px;
}
.element__action .btn i {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  background: #d4e2e6;
}
.form-group_submit {
  margin: 0;
  text-align: center;
}
.modal-dialog_order .modal-body {
  padding: 30px;
}
.form__response {
  text-align: center;
}
.navbar-nav .dropdown-menu {
  width: auto;
  margin: 0;
  padding: 20px 20px;
}
.navbar-nav {
  font-weight: bold;
}
.nav-sub {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-sub .nav-sub-item {
  width: 25%;
  min-width: 200px;
  padding: 10px 20px;
}
.nav-child {
  margin: 5px 0 0;
  padding: 0;
  list-style: disc;
  color: grey;
}
.nav-sub-link {
  display: block;
  color: #9c4115;
  font-size: 16px;
}
.nav-child-link {
  display: block;
  padding: 2px 0;
  color: rgba(0, 0, 0, .5);
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}
.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
}
.nav-item-more .nav-item.dropdown > .dropdown-menu {
  display: none !important;
}
.nav-item.nav-item_sale .nav-link {
  color: #9c4115;
}
.product-item-detail-properties a, .element__value a {
  text-decoration: underline;
  color: #9c4115;
}
.navbar-nav .nav-item.nav-item-right .dropdown-menu {
  right: 0;
  left: auto;
}
.faq_v {
  padding: 10px 20px;
  color: #9c4115;
  border: 1px solid #d2d2d2;
  background: #fff;
  font-weight: bold;
}
.faq_v span {
  color: black;
  font-size: 16px;
}
.faq_o {
  padding: 10px 20px;
  border: 1px solid #d2d2d2;
  background: #d3ecf3;
  background: #fff;
}
.nav-item-more .dropdown .nav-link > i {
  display: none;
}
.video-responsive {
  width: 100%;
  height: 380px;
}
.thumb-video-responsive {
  width: 100%;
  height: 110px;
}
.thumb-video::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}
.bx_soa_location .radio-inline {
  padding: 0 15px;
}
.bx-soa .bx_soa_location .radio-inline label {
  position: relative;
  margin-bottom: 15px;
  padding-left: 30px;
  cursor: pointer;
  color: #333;
  font-size: 16px;
}
.bx_soa_location .radio-inline input {
  display: none;
}
.bx_soa_location .radio-inline label input + span {
  position: absolute;
  top: -1px;
  left: 0px;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 1px solid #d4e2e6;
  border-radius: 10px;
  background: transparent;
}
.bx_soa_location .radio-inline label input:checked + span {
  border: 1px solid #9c4115;
}
.bx_soa_location .radio-inline label input:checked + span::before {
  position: absolute;
  top: 4px;
  left: 4px;
  display: block;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 5px;
  background-color: #9c4115;
}
.navbar_catalog .navbar-nav > .nav-item.nav-item_sale .dropdown-menu, .navbar_catalog .nav-item.nav-item_sale .nav-link .far {
  display: none;
}
.how-to-buy-item-1 {
  list-style-type: none;
}
.collection-list .product__label_sale {
  position: absolute;
  top: 10px;
  left: 10px;
}
.section_desc {
  padding: 0 0 50px;
}
.catalog__right .h1 {
  margin-top: 10px;
}
.catalog__topDesc {
  margin-bottom: 20px;
}
.section_border {
  display: none;
}
.like_h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;

  margin-inline-end: 0px;
  margin-inline-start: 0px;
}
.like_h4 {
  display: block;
  font-size: 18px;

  margin-block-end: .33em;
  margin-block-start: .33em;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
}
.nav-item.js-video-scroll:hover{
	cursor: pointer;
}
.popup-window .popup-window-buttons {
  width: 102%;
}
.popup-window .popup-window-buttons .btn.btn-default {
  min-width: 180px;
}
.popup-window .popup-window-buttons .btn.btn--outline {
  background: #fff;
  color: #9c4115;
}
.popup-window .popup-window-buttons .btn.btn--outline:hover {
  color: #fff;
}
#product-delivery,
.us-btns.us-btns-notab {
  text-align: justify;
}
.main-user-consent-request-announce-link {
  text-decoration: underline;
}
.main-user-consent-request-announce-link:hover {
  text-decoration: none;
}
.owl-dots {
  text-align: center;
  margin-top: -40px;
  z-index: 999999;
  position: relative;
}
.owl-dots button.owl-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
  opacity:0.6;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #6A412A;
  opacity:1;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;

}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size:4rem !important;
  color:#fff !important;
  opacity:0.6;
}
.owl-nav button:hover{
  opacity:1;
}
.owl-nav button:focus {
  outline: none;
}
.product__filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 20px;
  gap: 20px;
}
.product__filters-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 18px;
}
.product__filters-item span {
  color: #8facbd;
  font-size: 16px;
}
.product__filters-link {
  color: #000;
  font-size: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none!important;
}
.product__filters-clear {
  color: #000;
  font-size: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none!important;
  border-bottom: 1px dashed #000;
}
.product__filters-clear:hover {
  border-bottom-color: #9c4115;
}
.bx-filter.bx-custom .checkbox label.disabled {
  pointer-events: none;
  opacity: 0.5;
}