@media (min-width: 1480px) {
    .container {
        max-width: 1450px;
    }
    .container_md {
        max-width: 1220px;
    }
    .col-xxl-4 {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (max-width: 1479px) {
    .header .nav-item .nav-link {
        font-size: 13px;
    }
    .product_offset {
        padding-left: 0;
    }
    .collections__name {
        font-size: 20px;
    }
    .collections__name::after {
        margin: 20px 0;
    }
    .footer__items {
        padding-right: 0;
    }
    .section_border .h2_p {
        text-align: left;
    }
    .element__tabs-nav .nav-link {
        width: auto;
    }
}

@media (max-width: 1199px) {
    .collections__card_l .collections__picture,
    .collections__card_r .collections__description,
    .collections__card_ltb .collections__picture {
        width: 230px;
        min-width: 230px;
    }
    .main-contacts__content {
        max-width: 40%;
    }
    .collections__description,
    .special-product__hint {
        padding: 20px;
    }
    .bx-soa-cart-total.bx-soa-cart-total-bottom {
        opacity: 1!important;
    }
    #bx-soa-properties,
    #bx-soa-basket-basket {
        height: auto!important;
    }
    .product__content,
    .special-product__content {
        padding: 10px 0;
    }
    .banner {
        height: 430px;
    }
    .footer p {
        font-size: 14px;
    }
    .product__params {
        flex-wrap: wrap;
    }
    .filter {
        padding-top: 0;
    }
}

@media (max-width: 992px) {
    .filter {
        position: absolute;
        display: none;
        background: #fff;
        width: 300px;
        z-index: 10;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .header__logo {
        padding: 10px 0 0;
    }
    .nav_service {
        justify-content: center;
    }
    .banner {
        height: 400px;

    }
    .collections__content {
        max-width: 100%;
    }
    .collections__card_l .collections__picture,
    .collections__card_r .collections__description,
    .collections__card_ltb .collections__picture {
        width: 290px;
        min-width: 290px;
    }
    .main-contacts__map {
        width: 45%;
    }
    .footer__items .col {
        width: auto;
        max-width: none;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        margin-bottom: 20px;
    }
    .footer__items {
        padding-right: 0;
        justify-content: center;
    }
    .text-center-md {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .modal-open .modal.show {
        display: flex!important;
        justify-content: center;
        align-items: center;
    }
    .modal .modal-dialog {
        width: 500px;
    }
}

@media (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
    .header {
        position: relative;
    }
    .product_offset {
        overflow: hidden;
    }
    .product_offset .product__items {
        max-width: 100%;
    }
    .main-contacts__content {
        max-width: 100%;
    }
    .main-contacts {
        position: static;
    }
    .main-contacts__map {
        width: 100%;
        height: 300px;
    }
    .header .nav-item .nav-link {
        font-size: 12px;
    }
    .navbar_catalog {
        background: #f8f9fa;
        margin-top: 10px;
    }
    .banner__tooltip {
        display: visible;
    }
    .h2_p {
        margin: 0;
        padding: 30px 0 10px;
    }
    .link-more {
        display: inline-block;
        margin: 0 0 20px;
    }
    .collections__item_large {
        height: 370px;
    }
    .collections__item {
        height: 250px;
    }
    .collections__name::after {
        margin: 10px 0;
    }
    .collections__card_l .collections__picture,
    .collections__card_r .collections__description,
    .collections__card_ltb .collections__picture {
        width: 100%;
        min-width: 100px;
    }
    .collections__card_bg img {
        width: 100%;
    }
    .collections__card_ltb .collections__description {
        order: 0;
    }
    .nav-left {
        min-width: 200px;
    }
    .navbar_catalog .navbar-nav > .nav-item > .nav-link {
        padding-right: 0;
        padding-left: 0;
        white-space: normal;
    }
    .navbar_catalog .navbar-nav {
        padding: 1rem 0;
        flex-direction: row;
        flex-wrap: wrap;

    }
    .navbar_catalog .navbar-nav > .nav-item {
        margin-right: 20px;
        flex: unset;
        width: calc(50% - 20px);
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .main-news {
        margin-top: 0;
    }
    .owl-country-items {
        margin-bottom: 20px;
    }
    .owl-product-items .owl-nav {
        top: -38px;
        right: 0;
    }
    .collection-list__card img {
        height: 220px;
    }
    .breadcrumb {
        padding: .75rem 0;
        white-space: nowrap;
        flex-wrap: nowrap;
    }
    .breadcrumb > li {
        display: none;
    }
    .breadcrumb > li:nth-last-child(2),
    .breadcrumb > li:nth-last-child(3),
    .breadcrumb > li:nth-last-child(4) {
        display: block;
    }
    .breadcrumb > li:nth-last-child(4):not(:first-child):before {
        display: none;
    }
    .breadcrumb > li:last-child {
        display: none;
    }
    .catalog__right {
        margin-top: 10px;
    }
    .basket__td_picture {
        display: none;
    }
    .basket__order .h2 {
        font-size: 20px;
        text-align: left;
    }
    .basket__name {
        font-size: 14px;
        line-height: 20px;
    }
    .basket__props {
        font-size: 12px;
    }
    .nav-sub {
        flex-wrap: wrap;
        width: 400px;
    }
    .navbar-nav .dropdown:nth-child(2n) .dropdown-menu-left {
        left: auto;
        right: 0;
    }
    .navbar-nav .nav-item:nth-child(8) .dropdown-menu {
        margin-left: 0px;
    }
	.header__logo {
    	text-align: left;
	}
	.col-nav-service {
		position: static;
	}
	.nav_service {
		position: absolute;
		top: 28px;
		right: 10px;
	}
	.header .nav_service .nav-item .nav-link {
		font-size: 18px;
	}
	.footer__items .col-menu {
		width: 50%;
		padding: 0 22px;
	}
	.footer {
		padding-bottom: 40px;
	}
	.element__data .filter {
		position: static;
		display: block;
		box-shadow: none;
		padding: 0;
	}
	.label-counter {
		min-width: 18px;
		height: 18px;
		line-height: 18px;
		text-align: center;
		border-radius: 100%;
		font-size: 12px;
	}
	.nav_service .far {
		font-size: 24px;
	}
    .main-user-consent-request-popup-text {
        width: auto;
    }
    .main-user-consent-request-popup-cont {
        position: static;
        transform: none;
        border-radius: 0;
    }
    .main-user-consent-request-popup {
        z-index: 99999;
        overflow-y: auto;
    }
    .map-columns td {
        display: block;
    }
    .map-columns ul {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }
    .map-columns li {
        margin-bottom: 1.2rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000;
        font-size: 24px;
        font-weight: 700;
    }
    .catalog-section-list li a {
        display: block;
        line-height: 50px;
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .collections__item_large .collections__text {display:none;}
    .collections__text {display:none;}
}