.c-top-meta{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #D4E2E6;
    padding: 20px 20px 0 20px;
}

.sotbit-seometa-tag-link-hi-hitler{
    width: 33%;
    font-size: 14px;
    color: #000000;
    margin-bottom: 20px;
}

